<div class="d-lg-flex justify-content-between align-items-center bread-container">
  <nav class="breadcrumb m-0 p-0 bg-transparent">
    <span class="breadcrumb-item fs-16 active"><i class="las la-home fs-20"></i>الرئيسية</span>
  </nav>
</div>

<div>
  <div class="row">
    <div class="col-lg-8 col-md-7 mb-4">
      <div class="form-card d-flex flex-column h-100 rounded-5">
        <div class="form-header">
          <h5>طلبات المراحل</h5>
        </div>

        <div class="form-content">
          <p-chart type="bar" [data]="serviceRequestsData"></p-chart>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-5 mb-4">
      <div class="form-card d-flex flex-column h-100 rounded-5">
        <div class="form-header">
          <h5>إحصائيات عدديه</h5>
        </div>

        <div class="form-content">
          <div class="align-items-center border-bottom d-flex justify-content-between mb-3 pb-3 px-2">
            <h4 class="mb-1 text-muted fa-14">عدد المستفيدين</h4>
            <h6 class="d-inline-flex fa-14 lh-1 mb-1 px-3 py-1 rounded-pill text-white bg-primary-alt-3">{{userCount}}</h6>
          </div>
          <div class="align-items-center border-bottom d-flex justify-content-between mb-3 pb-3 px-2">
            <h4 class="mb-1 text-muted fa-14">عدد الطلبات</h4>
            <h6 class="d-inline-flex fa-14 lh-1 mb-1 px-3 py-1 rounded-pill text-white bg-secondary">{{requestCount}}</h6>
          </div>
          <div class="align-items-center border-bottom d-flex justify-content-between mb-3 pb-3 px-2">
            <h4 class="mb-1 text-muted fa-14">عدد الطلبات المنتهية</h4>
            <h6 class="d-inline-flex fa-14 lh-1 mb-1 px-3 py-1 rounded-pill text-white bg-secondary">{{requestFinishedCount}}</h6>
          </div>
          <div class="align-items-center border-bottom d-flex justify-content-between mb-3 pb-3 px-2">
            <h4 class="mb-1 text-muted fa-14">نسبة الانجاز</h4>
            <h6 class="d-inline-flex fa-14 lh-1 mb-1 px-3 py-1 rounded-pill text-white bg-primary">{{achievePercent}}%</h6>
          </div>
          <div class="align-items-center border-bottom d-flex justify-content-between mb-3 pb-3 px-2">
            <h4 class="mb-1 text-muted fa-14">طلبات المجلس الالكتروني</h4>
            <h6 class="d-inline-flex fa-14 lh-1 mb-1 px-3 py-1 rounded-pill text-white bg-primary-alt-3">{{requestElectronicBoardsCount}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 mb-4">
      <div class="form-card d-flex flex-column h-100 rounded-5">
        <div class="form-header">
          <h5>طلبات الخدمات</h5>
        </div>

        <div class="form-content">
          <p-chart type="polarArea" [data]="stageRequestsData"></p-chart>
        </div>
      </div>
    </div>

    <div class="col-lg-6 mb-4">
      <div class="form-card d-flex flex-column h-100 rounded-5">
        <div class="form-header">
          <h5>طلبات المحافظات</h5>
        </div>
        <div class="form-content">
          <!--<p-chart type="bar" [data]="governorateRequestsData"></p-chart>-->
        </div>
      </div>
    </div>
    <div class="col-lg-12 mb-4">
      <div class="form-card d-flex flex-column h-100 rounded-5">
        <div class="form-header">
          <h5>طلبات المحافظات</h5>
        </div>
        <div class="form-content">
          <p-chart type="line" [data]="governorateRequestsData"></p-chart>
        </div>
      </div>
    </div>
  </div>
</div>
