<!-- breadcrumb -->
<div class="ser-bg">
  <div class="ser-bread">
    <nav class="breadcrumb m-0 bg-transparent">
      <a class="breadcrumb-item fs-16" [routerLink]="['/']"><i class="las la-home"></i>الرئيسية</a>
      <span class="breadcrumb-item fs-16 active">عن الإمارة</span>
    </nav>
  </div>
</div>

<div class="container">
  <div class="row my-5">
    <div class="col-12">
      <div class="artical-content-wrapper mb-5">
        <h4 class="artical-head">نبذة</h4>
        <p class="artical-text">أنشأت إمارة منطقة الرياض هذا الموقع للتيسير على المواطنين والمقيمين الوصول إلى المعلومات
          واستكمال الإجراءات
          المطلوبة للحصول على الخدمات التي تقدمها. تضم المملكة العربية السعودية 13 منطقة إدارية، تسمى كل منها "إمارة".
          وتضم كل
          إمارة عددا من المحافظات والمراكز. والرياض هي إحدى هذه المناطق وتضم 22 محافظة، وبها مدينة الرياض عاصمة المملكة
          العربية السعودية. </p>
      </div>

      <div class="artical-content-wrapper">
        <h4 class="artical-head mb-3">أهداف ومهام الإمارة</h4>
        <h6 class="artical-title me-3">تتمثل أهداف ومهام إمارة منطقة الرياض بالنقاط التالية:</h6>

        <ol class="artical-list me-3 mt-4">
          <li class="artical-list-item">تمثيل خادم الحرمين الشريفين في المنطقة .</li>
          <li class="artical-list-item">التأكد من تحقيق سير العدالة في المنطقة .</li>
          <li class="artical-list-item">العمل على حفظ الأمن في المنطقة .</li>
          <li class="artical-list-item">العمل على توفير كافة الخدمات لمواطني المنطقة بالتعاون والتنسيق مع الجهات
            الحكومية والمشاركة في مراحل التخطيط
            لكافة الخدمات .</li>
          <li class="artical-list-item">التأكد من كفاءة وفاعلية الخدمات التي تقدم لمواطني المنطقة ، والعمل على تحسين
            وتطوير تقديم تلك الخدمات .
          </li>
          <li class="artical-list-item">تلقي شكاوي واستدعاءات المواطنين والنظر في أمورهم والعمل على تلبية مطالبهم وحل
            مشكلاتهم .</li>
        </ol>
      </div>
    </div>
  </div>
</div>