<nav class="breadcrumb m-0 bg-transparent">
  <div class="container d-flex align-items-center">
    <a class="breadcrumb-item fs-16" [routerLink]="['/']"><i class="las la-home fs-20"></i>الرئيسية</a>
    <a class="breadcrumb-item fs-16" [routerLink]="['/home/services-list']">قائمة الخدمات</a>
    <span class="breadcrumb-item fs-16 active">انشاء طلب توثيق الزواج</span>
  </div>
</nav>

<div class="container py-5 px-0">
  <form [formGroup]="marriageCertificateForm" (ngSubmit)="onSubmit()">
    <div class="form-card mb-0">
      <div class="form-header" style="border-bottom: 0px !important;">
        <h5 class="mb-5">خدمة توثيق الزواج</h5>
        <p-steps [model]="wizardItems" [(activeIndex)]="activeIndex"></p-steps>
      </div>
      <div class="form-content">
        <div class="row mx-0">
          <div class="form-group col-md-6" *ngIf="requestTypes?.length > 0">
            <label for="requestTypeId" class="form-lbl">نوع الطلب<span class="danger">*</span></label>
            <select class="form-control form-select" formControlName="requestTypeId" [ngClass]="{
              invalid:
                (isFormSubmitted || marriageCertificateForm.get('requestTypeId').touched) &&
                marriageCertificateForm.get('requestTypeId').errors?.required}">
              <option [ngValue]="null">-- اختر نوع الطلب --</option>
              <option *ngFor="let requestType of requestTypes" [ngValue]="requestType.id">{{ requestType.name }}</option>
            </select>
            <small *ngIf="(isFormSubmitted || marriageCertificateForm.get('requestTypeId').touched) && marriageCertificateForm.get('requestTypeId').errors?.required" class="danger">هذاالحقل مطلوب</small>
          </div>
          <div class="form-group col-md-6">
            <label for="employeeSide" class="form-lbl">جهة العمل<span class="danger">*</span></label>
            <input type="text" class="form-control" autocomplete="off" formControlName="employeeSide" id="employeeSide" [ngClass]="{
              invalid:
                (isFormSubmitted || marriageCertificateForm.get('employeeSide').touched) &&
                marriageCertificateForm.get('employeeSide').errors?.required}" />
            <small *ngIf="(isFormSubmitted || marriageCertificateForm.get('employeeSide').touched) && marriageCertificateForm.get('employeeSide').errors?.required" class="danger">هذاالحقل مطلوب</small>
          </div>
          <div class="form-group col-md-6">
            <label for="jobOccupation" class="form-lbl">المهنة<span class="danger">*</span></label>
            <input type="text" class="form-control" autocomplete="off" formControlName="jobOccupation" id="jobOccupation" [ngClass]="{
              invalid:
                (isFormSubmitted || marriageCertificateForm.get('jobOccupation').touched) &&
                marriageCertificateForm.get('jobOccupation').errors?.required}" />
            <small *ngIf="(isFormSubmitted || marriageCertificateForm.get('jobOccupation').touched) && marriageCertificateForm.get('jobOccupation').errors?.required" class="danger">هذاالحقل مطلوب</small>
          </div>
          <div class="form-group col-md-6">
            <label for="maritalStatusId" class="form-lbl">الحالة الاجتماعية<span class="danger">*</span></label>
            <select class="form-control form-select" formControlName="maritalStatusId" [ngClass]="{
              invalid:
                (isFormSubmitted || marriageCertificateForm.get('maritalStatusId').touched) &&
                marriageCertificateForm.get('maritalStatusId').errors?.required}">
              <option [ngValue]="null">-- اختر الحالة الاجتماعية --</option>
              <option *ngFor="let maritalStatu of maritalStatus" [ngValue]="maritalStatu.id">{{ maritalStatu.name }}</option>
            </select>
            <small *ngIf="(isFormSubmitted || marriageCertificateForm.get('maritalStatusId').touched) && marriageCertificateForm.get('maritalStatusId').errors?.required" class="danger">هذاالحقل مطلوب</small>
          </div>
          <div class="form-group col-md-6">
            <label for="childrenCount" class="form-lbl">عدد الأبناء<span class="danger">*</span></label>
            <input type="text" class="form-control" autocomplete="off" formControlName="childrenCount" id="childrenCount" maxlength="2" [ngClass]="{
              invalid:
                (isFormSubmitted || marriageCertificateForm.get('childrenCount').touched) &&
                marriageCertificateForm.get('childrenCount').errors?.required}" />
            <small *ngIf="(isFormSubmitted || marriageCertificateForm.get('childrenCount').touched) && marriageCertificateForm.get('childrenCount').errors?.required" class="danger">هذاالحقل مطلوب</small>
            <small *ngIf="(isFormSubmitted || marriageCertificateForm.get('childrenCount').touched) && marriageCertificateForm.get('childrenCount').errors?.pattern" class="danger">عدد الأبناء يجب أن يكون رقم أو رقمين</small>
          </div>
          <div class="form-group col-md-12">
            <label for="notes" class="form-lbl">ملاحظات<span class="danger">*</span></label>
            <textarea type="text" class="form-control" rows="6" autocomplete="off" formControlName="notes" id="notes" [ngClass]="{
              invalid:
                (isFormSubmitted || marriageCertificateForm.get('notes').touched) &&
                marriageCertificateForm.get('notes').errors?.required}">
          </textarea>
            <small *ngIf="(isFormSubmitted || marriageCertificateForm.get('notes').touched) && marriageCertificateForm.get('notes').errors?.required" class="danger">هذاالحقل مطلوب</small>
          </div>
        </div>
      </div>
    </div>

    <div class="form-actions px-0">
      <button type="submit" class="btn btn-primary px-4 ms-3">التالي</button>
      <a [routerLink]="['/eservice/my-requests']" class="btn btn-secondary">إلغاء</a>
    </div>
  </form>
</div>
