<div class="container px-0 my-5">
  <div class="form-card mb-0">
    <div class="form-header mt-3" style="border-bottom: 0px !important;">
      <p-steps [model]="wizardItems" [(activeIndex)]="activeIndex"></p-steps>
    </div>

    <div class="form-content">
      <app-request-attacment allowedExtensions="image/*"></app-request-attacment>
    </div>
  </div>

  <div class="form-actions px-0">
    <a [routerLink]="['/eservice/lands-infringement/', requestId]" class="btn btn-outline-primary ms-auto">السابق</a>

    <button type="button" class="btn btn-primary ms-3" (click)="onSubmit()">التالي</button>
    <a [routerLink]="['/eservice/my-requests']" class="btn btn-secondary">إلغاء</a>
  </div>
</div>
