<!-- breadcrumb -->
<div class="ser-bg">
  <div class="ser-bread">
    <nav class="breadcrumb m-0 bg-transparent">
      <a class="breadcrumb-item fs-16" [routerLink]="['/']"><i class="las la-home"></i>الرئيسية</a>
      <a class="breadcrumb-item fs-16" [routerLink]="['/news']">أخبار الإمارة</a>
      <span class="breadcrumb-item fs-16 active">التفاصيل</span>
    </nav>
  </div>
</div>

<div class="container">
  <div class="row my-5">
    <div class="artical-content-wrapper">
      <div class="d-flex justify-content-center mb-5">
        <img src="https://via.placeholder.com/600x300" class="img-fluid rounded-3" alt="banner" />
      </div>

      <h4 class="artical-head">ريبوسومات الخلايا البدائية: حيث تكون أصغر حجما من الريبوسومات في الخلايا حقيقية النواة
      </h4>
      <p class="artical-text me-3">تتكون الريبوسومات من وحدتي بروتينات، لا تجتمع مع بعضها اِلا في حالة تكوين
        البروتين.اِحدى هذه الوحدات أكبر من الأخرى. يعتبر الريبوسوم أنه المصنع الذي يحول المعلومات الوراثية المشفرة إلى
        تسلسل ببتيدي من أحماض أمينية. يمكن للريبوسومات أن تسبح في الخلية بحرية كما في بدائيات النوى أمّا في حقيقيات
        النوى فقد توجد حرة في الهيولى أو مرتبطة إلى الوجه الهيولي لأغشية الشبكة الهيولية الداخلية (الخشنة تحديداً ) أو
        مرتبطة إلى الغلاف النووي.

        تقوم الريبوسومات المبعثرة في الهيولي باِنتاج البروتينات الخاصة بالخلية.أما الرايبوسومات التي تكون مرتبطة بالشبكة
        الاِندوبلازمية والغلاف النووي فتنتج البروتينات الخاصة بالغشاء الخلوي أو تلك التي قد لاتخص الخلية نفسها مثل
        الهرمونات.</p>
    </div>
  </div>
</div>