.fa-10{
    font-size: 10px !important;
}
.fa-11{
    font-size: 11px !important;
}
.fa-12{
    font-size: 12px !important;
}
.fa-14{
    font-size: 14px !important;
}
.fa-16{
    font-size: 16px !important;
}
.fa-18{
    font-size: 18px !important;
}
.fa-20{
    font-size: 20px !important;
}
.fa-22{
    font-size: 22px !important;
}
.fa-26{
    font-size: 26px !important;
}