.form-group {
  position: relative;
  margin-bottom: 0px !important;

  label {
    display: flex;
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 400;
    color: rgba($color: $dark, $alpha: 0.8);
  }

  .label {
    transition: 0.3s all ease-in-out;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    color: rgba($color: $dark, $alpha: 0.5);
    inset-inline-start: 12px;
    top: 15px;
    cursor: initial;
  }

  .form-control {
    height: 50px;
    background-color: $light-lighter !important;
    border-color: #e7e8ef !important;
    color: rgba($color: $dark, $alpha: 0.6);

    &:not(:valid),
    &:focus {
      background-color: $light-lighter !important;
      border-color: #e7e8ef !important;

      + {
        .label {
          transition: 0.3s all ease-in-out;
          position: absolute;
          inset-inline-start: 0;
          top: -28px;
          color: rgba($color: $dark, $alpha: 0.7);
          padding: 0;
        }
      }
    }
  }

  small {
    display: flex;
    margin-top: 4px;
    font-size: 11px;
  }
}

.form-control,
.form-select {
  font-size: 14px !important;
  font-weight: 400;
  padding: 6px 12px;
  border-radius: 4px !important;

  &:focus {
    box-shadow: none !important;
    outline: none !important;
    color: $dark;
    font-family: $ar-font;
  }

  // input sizes
  &.input-lg {
    border-radius: 4px;
    padding: 11px 16px;
    font-size: 14px;
    line-height: 1.5;
  }

  // input colors
  &.input-grey {
    background-color: rgba($color: $dark, $alpha: 0.04);
    border: 1px solid rgba($color: $dark, $alpha: 0.04);
    color: rgba($color: $dark, $alpha: 0.7);

    &:focus {
      background-color: rgba($color: $dark, $alpha: 0.04);
      color: $dark;
      border: 1px solid $dark;
    }
  }

  &.input-light {
    background-color: $light-lighter;
    border: 1px solid $light-lighter;
    color: rgba($color: $dark, $alpha: 0.7);

    &:focus {
      background-color: $light-lighter;
      color: $dark;
      border: 1px solid $Primary-1;
    }
  }

  &.input-valid {
    border: 1px solid $success !important;
    color: $success;
  }

  &.input-invalid {
    border: 1px solid $danger !important;
    color: $danger;
  }

  &.disabled {
    background-color: rgba($color: $dark, $alpha: 0.1);
    color: rgba($color: $dark, $alpha: 0.5);
    pointer-events: none;
  }
}

.form-group {
  margin-bottom: 16px;
}

// hijri calender datepicker
hijri-gregorian-datepicker {
  .form-group {
    padding: 0px !important;
  }
}

// p multiselect
p-multiselect {
  display: block;
  width: 100%;

  .p-multiselect {
    display: flex;
    height: 50px;
    align-items: center;
    font-family: 'Almarai';
    font-size: 14px;
    border: 1px solid #e7e8ef;
    background-color: #fafbff !important;
    border-radius: 4px !important;

    &:hover,
    &:focus {
      border: 1px solid $Primary-1;
      box-shadow: none !important;
      outline: 0 !important;
    }

    .p-multiselect-label-container {
      .p-multiselect-token {
        padding: 8px 6px;
        margin: 0;
        margin-inline-end: 8px;
        background: #e3f2fd;
        border-radius: 6px;
        color: #495057;

        .p-multiselect-token-label {
          font-family: 'Almarai';
          font-size: 12px;
        }

        .p-multiselect-token-icon {
          margin-inline-start: 10px;
          font-size: 14px;
          cursor: pointer;
        }
      }
    }

    .p-multiselect-trigger {
      margin-inline-end: 0px;

      .p-multiselect-trigger-icon {
        font-size: 12px;
        font-weight: 600;
      }
    }

    .p-multiselect-panel {
      border-radius: 4px;
      top: 56px !important;
      box-shadow: -1px 6px 12px #00000048;

      .p-multiselect-header {
        display: flex;
        align-items: center;
        justify-content: end;
        padding: 4px 12px;
        border-radius: 4px;
        background: transparent;

        .p-multiselect-close {
          margin: 0;
          color: rgba($color: $dark, $alpha: 0.7);
        }
      }

      .p-multiselect-items-wrapper {
        .p-multiselect-items {
          margin: 0px 10px;

          .p-multiselect-item {
            margin: 0;
            padding: 6px;
            border: 0;
            border-radius: 6px;
            color: rgba($color: $dark, $alpha: 0.5);
            font-size: 14px;
            font-family: 'Almarai';
            margin-bottom: 2px;

            &:hover {
              background-color: transparent;
              color: rgba($color: $dark, $alpha: 0.9);
            }

            &:focus{
              box-shadow: none !important;
              outline: 0 !important;
            }

            .p-checkbox {
              width: 16px;
              height: 16px;
              margin: 0px;

              .p-checkbox-box {
                border: 1px solid rgba($color: $dark, $alpha: 0.4);
                background: $white;
                width: 16px;
                height: 16px;
                color: #495057;
                border-radius: 4px;

                &.p-highlight {
                  background-color: $Primary-1;
                  border: 1px solid $Primary-1;

                  .p-checkbox-icon {
                    font-size: 9px;
                    font-weight: 600;
                  }
                }
              }
            }

            span {
              margin: 0 8px;
            }

            &.p-highlight{
              background-color: rgba($color: $dark, $alpha: 0.04);
              color: rgba($color: $dark, $alpha: 0.8);

              &:hover {
                background-color: rgba($color: $dark, $alpha: 0.04);
                color: rgba($color: $dark, $alpha: 0.8);
              }
            }
          }
        }
      }
    }
  }
}

// dropdown
.dropdown {
  .dropdown-toggle {
    img {
      margin: 0px;
    }

    &::after {
      content: none;
    }
  }

  .dropdown-menu {
    background: $white;
    border-radius: 6px;
    padding: 8px !important;
    margin: 0;
    inset-inline-end: 0;
    inset-inline-start: 0;
    margin-top: 12px;

    .dropdown-item {
      display: flex;
      align-items: center;
      padding: 7px;
      font-size: 12px;
      border-radius: 6px;
      color: rgb(0 0 0 / 70%);
      text-decoration: none;
      cursor: pointer;

      i {
        font-size: 15px;
        margin-inline-end: 6px;
      }

      &:hover {
        color: rgb(0 0 0 / 90%);
        background-color: rgba(0, 0, 0, 0.03);
      }
    }

    .dropdown-divider {
      margin: 0.5rem 12px;

    }
  }
}

.input-group-append {
  height: 50px !important;
  border-radius: 4px !important;
  overflow: hidden !important;
  margin-inline-start: 10px !important;
  padding: 6px !important;
  display: flex !important;
  align-items: center !important;

  .btn {
    font-size: 12px !important;
    border-radius: 20px !important;
    padding: 8px 16px !important;
    border: 0 !important;
    color: $primary-alt-3 !important;
    background-color: rgba($color: $primary-alt-3, $alpha: 0.15);
    margin-inline-end: 10px;

    &:last-child {
      margin-inline-end: 0px;
    }

    &:focus,
    &.active {
      box-shadow: none !important;
      outline: 0 !important;
    }

    &:hover {
      background-color: rgba($color: $primary-alt-3, $alpha: 0.15) !important;
      color: $primary-alt-3 !important;
    }

    &.active {
      background-color: $primary-alt-3 !important;
      color: $white !important;
      font-weight: 600 !important;

      &:hover {
        color: $white !important;
      }
    }
  }
}

.form-select {
  cursor: pointer;
  background-size: 8px !important;
  border-radius: 4px !important;
  background-position: left 14px center !important;
  background-size: 16px 12px !important;
  padding: 12px !important;
  font-size: 14px !important;
}

.form-check {

  // input switch
  &.form-switch {
    display: flex;
    align-items: center;
    margin-bottom: 0;

    .form-check-input {
      width: 50px;
      height: 28px;
      border-radius: 15px !important;
      border: 0px;
      background: $light-lighter;
      background-image: none !important;
      position: relative;
      transition: left .15s ease-in-out;

      &:active {
        filter: none;
      }

      &::after {
        content: '';
        width: 22px;
        height: 22px;
        border-radius: 50%;
        box-shadow: 0px 2px 3px #00000029;
        position: absolute;
        top: 2px;
        inset-inline-end: 3px;
        inset-inline-start: auto;
        background-color: $white;
      }

      &:checked {
        background-color: $Primary-1;
        border: 0px;

        &::after {
          inset-inline-end: auto;
          inset-inline-start: 3px;
        }
      }
    }

    .form-check-label {
      font-size: 12px;
      color: rgba($color: $dark, $alpha: 0.7) !important;
      margin-inline-end: 8px;
      cursor: pointer;
    }
  }
}

textarea {
  padding: 14px !important;
  height: auto !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

// custom file btn
.custom-file-btn {
  .custom-file-upload {

    input[type='file'] {
      display: none;
    }
  }
}

// input checkbox
.form-check-input[type=checkbox] {
  min-width: 20px;
  min-height: 20px;
  width: 20px;
  height: 20px;
  border-radius: 4px !important;
  border: 1px solid rgba($color: $dark, $alpha: 0.15);
  margin: 0px;
  cursor: pointer;
  margin-inline-end: 16px !important;
  float: right !important;

  &:checked[type=checkbox] {
    background-color: $Primary-1;
    border: 1px solid $Primary-1;
    // background-image: url(../images/icons/check-white.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
  }

  &:focus,
  &:active {
    box-shadow: none !important;
    outline: 0px !important;
  }
}

.form-check-label {
  color: rgba($color: $dark, $alpha: 0.7);
  cursor: pointer;
}

// checkbox
.container-check {
  margin: 0px !important;
  display: flex !important;
  color: $primary-alt-1 !important;
  padding-inline-start: 28px !important;
  font-size: 14px !important;
  line-height: 25px !important;

  .checkmark {
    border-radius: 6px !important;
    width: 22px !important;
    height: 22px !important;
    border: 1px solid #e7e8ef !important;

    &::after {
      width: 7px !important;
      height: 12px !important;
      inset-inline-start: 6px !important;
      top: 3px !important;
    }
  }
}

// angular datepicker
ngb-datepicker {
  &.dropdown-menu {
    margin-top: 0 !important;
    border-radius: 8px !important;
    box-shadow: -1px 6px 12px #00000048 !important;
    border: 0 !important;
    font-size: 14px !important;
    padding: 8px !important;
    font-family: "Almarai" !important;

    .ngb-dp-header {
      padding-top: 0px !important;

      .ngb-dp-navigation-select {
        .form-select {
          margin: 0 6px !important;
          padding: 0 6px !important;
          font-size: 12px !important;
          color: rgba($color: $dark, $alpha: 0.7) !important;
          background-position: left 4px top 9px !important;
        }
      }

      .ngb-dp-arrow {
        flex: initial;

        .ngb-dp-navigation-chevron {
          transform: rotate(44deg) !important;
        }

        .btn-link {
          padding: 0px !important;
          margin: 0px !important;
          color: $secondary-1 !important;

          &:disabled {
            color: rgba($color: $dark, $alpha: 0.4) !important;
          }
        }

        &.right {
          .ngb-dp-navigation-chevron {
            transform: rotate(225deg) !important;
          }
        }
      }
    }

    .ngb-dp-content {
      &.ngb-dp-months {
        .ngb-dp-month {
          .ngb-dp-week {
            padding: 0px !important;
            justify-content: space-between !important;

            .ngb-dp-weekdays {
              border-bottom: 1px solid rgba($color: $dark, $alpha: 0.1) !important;
            }

            .ngb-dp-weekday {
              color: $Primary-1;
              font-style: normal !important;
              font-size: 9px !important;
              font-weight: 600 !important;
              height: auto !important;
              line-height: 32px !important;
              width: 34px !important;
              justify-content: center !important;
            }
          }

          .ngb-dp-day {
            height: 30px !important;
            font-size: 12px !important;
            border-radius: 50% !important;

            .btn-light {
              color: rgba($color: $dark, $alpha: 0.7) !important;
              border-radius: 50% !important;
              display: flex !important;
              align-items: center !important;
              justify-content: center !important;
              font-weight: 400 !important;
              font-family: cursive !important;
              font-size: 10px !important;

              &.outside {
                opacity: 1 !important;
                color: rgba($color: $dark, $alpha: 0.3) !important;
              }

              &.bg-primary {
                background-color: $secondary-1 !important;
                color: $white !important;
              }
            }
          }

        }
      }
    }

    hr {
      background-color: rgba($color: $dark, $alpha: 0.5) !important;
      margin: 4px 0 8px !important;
    }

    .btn-secondary,
    .btn-primary {
      font-size: 12px !important;
      margin: 0 !important;
      margin-inline-start: 8px !important;
      border: 0px !important;
      padding: 4px 10px !important;
      display: inline-block !important;
      border-radius: 4px !important;
    }

    .btn-secondary {
      background-color: $primary-alt-1 !important;
    }

    .btn-primary {
      background-color: $danger !important;
    }
  }
}

input[type="email"]::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #9A9A9A;
  font-family: $ar-font;
}

.was-validated {
  .form-control {

    &:valid,
    &:invalid {
      background-image: none !important;
      color: $dark;
    }

    &:valid {
      border: 1px solid $success;
    }

    &:invalid {
      border: 1px solid $danger;
    }
  }
}

html[dir="ltr"] ,
html[lang="en"] {
// dropdown
.dropdown {
  .dropdown-menu {
    inset-inline-end: auto;
    inset-inline-start: 0px;

    .dropdown-item {
      i {
        margin-inline-start: 6px;
        margin-inline-end: 0px;
      }
    }
  }
}
}