// p-steps
p-steps {
  .p-steps {
    ul {
      display: flex;
      justify-content: space-between;
      position: relative;
      font-family: 'Almarai';
      overflow-x: auto;

      &::before {
        content: "";
        position: absolute;
        top: 30%;
        height: 2px;
        inset-inline-start: 0px;
        width: 100%;
        background-color: rgb(0 0 0 / 8%);
      }

      .p-steps-item {
        display: flex;
        justify-content: center;
        flex: initial;
        background-color: $white;
        z-index: 10;
        padding: 0px 32px;

        &::before{
            content: none;
        }

        // &::before{
        //     content: "";
        //     position: absolute;
        //     top: 50%;
        //     height: 2px;
        //     right: auto;
        //     left: -170%;
        //     width: 180%;
        //     background-color: rgba(0, 0, 0, 0.08);
        // }

        // &:last-child{
        //     &::before{
        //         content: none;
        //     }
        // }

        .p-menuitem-link {
          .p-steps-number {
            color: rgb(0 0 0 / 60%);
            border: 0px;
            background: #f5f8fd;
            min-width: 40px;
            height: 40px;
            line-height: 40px;
            font-size: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
            border-radius: 50%;
          }

          .p-steps-title {
            margin-top: 8px;
            color: rgb(0 0 0 / 50%);
            font-weight: 400;
            font-size: 14px;
          }
        }

        &.p-steps-current {
          .p-menuitem-link {
            .p-steps-number {
              color: $white;
              background: $primary-alt-3;
            }

            .p-steps-title {
              color: $Primary-1;
              font-weight: 600;
            }
          }
        }

        &.p-disabled {
          opacity: 1;
        }
      }
    }
  }
}
