.table-responsive{

}

.table{
    margin-bottom: 0px;
    background-color: $white;

    thead{
        tr{
            th{
                padding: 16px;
                font-size: 14px;
                font-weight: 600;
                color: rgba($color: $dark, $alpha: 0.6);

                &:first-child {
                    border-top-left-radius: 6px;
                  }
        
                  &:last-child {
                    border-top-right-radius: 6px;
                  }
            }
        }

        &.thead-light {
            background: rgba($color: $dark, $alpha: 0.05);
    
            tr {
              th {
                color: rgba($color: $dark, $alpha: 0.6);
              }
            }
          }
    }

    tbody{
        border-top: 0px !important;

        tr{
            td{
                padding: 16px;
                font-size: 14px;
                font-weight: 400;
                color: rgba($color: $dark, $alpha: 0.8) !important;
                box-shadow: none !important;
            }

            &:last-child {
                td {
                  &:first-child {
                    border-bottom-left-radius: 6px;
                  }
      
                  &:last-child {
                    border-bottom-right-radius: 6px;
                  }
                }
              }
        }
    }

    &.table-striped{
        tbody{
            tr{
                &:nth-child(odd){
                    td{
                        background-color: rgba($color: $Primary-1, $alpha: 0.1);
                    }
                }
            }
        }
    }

    &.table-bordered{}
}