<div class="d-lg-flex justify-content-between align-items-center bread-container">
  <nav class="breadcrumb m-0 p-0 bg-transparent">
    <a class="breadcrumb-item fs-16" routerLink="/admin/home"><i class="las la-home fs-20"></i>الرئيسية</a>
    <a class="breadcrumb-item fs-16" [routerLink]="['/admin/data-management/emirates-news-list']">أخبار المحافظات</a>
    <span class="breadcrumb-item fs-16 active">تفاصيل الخبر</span>
  </nav>
</div>

<div class="form-card">
  <div class="form-header">
    <h5>تفاصيل الخبر</h5>
  </div>
  <div class="form-content">
    <div class="row mx-0">
      <div class="info-col col-md-6 col-12">
        <span class="form-lbl lbl-33">العنوان عربي</span>
        <span class="form-val">{{ newsDetailsDto?.titleAr }}</span>
      </div>
      <div class="info-col col-md-6 col-12 separator-af-be">
        <span class="form-lbl lbl-33">العنوان إنجليزي</span>
        <span class="form-val">{{ newsDetailsDto?.titleEn }}</span>
      </div>
      <div class="info-col col-md-6 col-12">
        <span class="form-lbl lbl-33">الوصف عربي</span>
        <span class="form-val">{{ newsDetailsDto?.descriptionAr }}</span>
      </div>
      <div class="info-col col-md-6 col-12">
        <span class="form-lbl lbl-33">الوصف إنجليزي</span>
        <span class="form-val">{{ newsDetailsDto?.descriptionEn }}</span>
      </div>
      <div class="info-col col-md-6 col-12 separator-af-be">
        <span class="form-lbl lbl-33">التاريخ</span>
        <span class="form-val">{{ newsDetailsDto?.date | date: "dd-MM-yyyy" }}</span>
      </div>
      <div class="info-col col-md-6 col-12">
        <span class="form-lbl lbl-33">الحالة</span>
        <span class="form-val">{{ newsDetailsDto?.isActive ? "مفعل" : "غير مفعل" }}</span>
      </div>
      <div class="info-col col-md-6 col-12" *ngIf="newsDetailsDto?.image">
        <span class="form-lbl lbl-33">الصورة</span>
        <span class="form-val">
          <img [src]="newsDetailsDto?.image?.base64File" alt="" style="width: 180px" />
        </span>
      </div>
    </div>
  </div>
</div>

<div class="form-actions">
  <a [routerLink]="['/admin/data-management/emirates-news-list']" class="btn btn-cancel">رجوع</a>
</div>
