
<footer class="footer pt-100 pb-100">
  <div class="row mx-0 pl-100 pr-100">
    <div class="col-md-4 col-12 col-one">
      <h5 class="title">ما رأيك في التصميم الجديد للبوابة الإلكترونية ؟</h5>
      <div class="mb-5">
        <label class="custom-radio">
          ممتاز
          <input type="radio" name="designEvaluate" [(ngModel)]="designEvaluate" value="1" />
          <span class="checkmark"></span>
        </label>
        <label class="custom-radio">
          جيد جدا
          <input type="radio" name="designEvaluate" [(ngModel)]="designEvaluate" value="2" />
          <span class="checkmark"></span>
        </label>
        <label class="custom-radio">
          جيد
          <input type="radio" name="designEvaluate" [(ngModel)]="designEvaluate" value="3" />
          <span class="checkmark"></span>
        </label>
        <label class="custom-radio">
          مقبول
          <input type="radio" name="designEvaluate" [(ngModel)]="designEvaluate" value="4" />
          <span class="checkmark"></span>
        </label>
        <button type="button" class="btn vote-btn me-auto ms-3" (click)="evaluate()">تصويت</button>
      </div>
    </div>
    <div class="col-md-5 col-12 col-two">
      <div class="row mx-0">
        <div class="col-md-6">
          <h5 class="title">منصات وبرامج ذات صلة</h5>
          <div class="platforms">
            <div>
              <a href="https://www.my.gov.sa/wps/portal/snp/main" target="_blank">المنصة الوطنية الموحدة</a>
            </div>
            <div>
              <a href="https://www.absher.sa/portal/landing.html" target="_blank">أبشر</a>
            </div>
            <div>
              <a href="https://najiz.sa/applications/landing" target="_blank">ناجز</a>
            </div>
            <div>
              <a href="https://eservices.alriyadh.gov.sa/" target="_blank">أمانة منطقة الرياض</a>
            </div>
            <div>
              <a href="https://www.moj.gov.sa/ar/pages/default.aspx" target="_blank">وزارة العدل</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h5 class="title">روابط سريعة</h5>
          <div class="platforms">
            <div>
              <a routerLink="/home/aboutus">نبذة عن الإمارة</a>
            </div>
            <div>
              <a routerLink="/eservice">الخدمات الإلكترونية</a>
            </div>
            <div>
              <a routerLink="/home/news" [queryParams]="{ newsTypeId: '2' }">أخبار المحافظات</a>
            </div>
            <div>
              <a routerLink="/home/news" [queryParams]="{ newsTypeId: '3' }">التقارير الإعلامية</a>
            </div>
            <div>
              <a routerLink="/open-data">البيانات الفتوحة</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12 col-three">
      <h5 class="title">إتصل بنا</h5>
      <div class="contact">
        <div>
          <img src="./assets/images/icons/footer/phone.svg" alt="">
          <a href="javascript:;">
            966 11 4114444
          </a>
        </div>
        <div>
          <img src="./assets/images/icons/footer/mail.svg" alt="">
          <a href="mailto:webmaster@riyadh.gov.sa">webmaster@riyadh.gov.sa</a>
        </div>
      </div>
      <div class="social">
        <a href="https://www.youtube.com/user/RiyadhPrincipality" target="_blank">
          <img src="./assets/images/icons/footer/youtube.svg" alt="">
        </a>
        <a routerLink="home/rss">
          <img src="./assets/images/icons/footer/rss.svg" alt="">
        </a>
        <a href="https://twitter.com/emara_riyadh" target="_blank">
          <img src="./assets/images/icons/footer/twitter.svg" alt="">
        </a>
        <a routerLink="home/mobile-applications">
          <img src="./assets/images/icons/footer/mobile-app.svg" alt="">
        </a>
        <a routerLink="home/contact-us">
          <img src="./assets/images/icons/footer/map.svg" alt="">
        </a>
      </div>
    </div>
  </div>
  <div class="row mx-0 pt-3">
    <div class="col-md-10 mx-auto">
      <hr>
    </div>
  </div>
  <div class="row mx-0 py-3 pl-100 pr-100">
    <div class="col-md-11 mx-auto">
      <div class="row mx-0">
        <div class="col-md-3">
          <img src="./assets/images/icons/footer/ssl.svg" alt="">
          <img src="./assets/images/icons/footer/css3.svg" alt="">
          <img src="./assets/images/icons/footer/html5.svg" alt="">
          <img src="./assets/images/icons/footer/w3c.svg" alt="">
        </div>
        <div class="col-md-5">
          <span class="mx-3">هذا الموقع يدعم متصفحات</span>
          <img src="./assets/images/icons/footer/chrome.svg" alt="" class="mx-1">
          <img src="./assets/images/icons/footer/firefox.svg" alt="" class="mx-1">
          <img src="./assets/images/icons/footer/safari.svg" alt="" class="mx-1">
          <img src="./assets/images/icons/footer/edge.svg" alt="" class="mx-1">
          <img src="./assets/images/icons/footer/opera.svg" alt="" class="mx-1">
        </div>
        <div class="col-md-4">
          <img src="./assets/images/icons/footer/refresh.svg" alt="" class="mx-1">
          <span class="mx-1">آخر تحديت للموقع فى</span>
          <span class="mx-1">{{lastSieUpdate}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row mx-0 py-3 bottom-nav pl-100 pr-100">
    <div class="col-md-11 mx-auto">
      <div class="row mx-0">
        <div class="col-md-6">
          <img src="./assets/images/icons/footer/logo-opacity.svg" alt="" class="ml-opacity">
          <a routerLink="/home/privacy">سياسة الخصوصية</a>
          <a routerLink="/home/conditions">شروط الاستخدام</a>
          <a routerLink="/home/sla">اتفاقية مستوى الخدمة</a>
        </div>
        <div class="col-md-6">
          <span>جميع الحقوق محفوظة</span>
          <span>&nbsp; &copy; &nbsp;</span>
          <span> لإمارة منطقة الرياض - المملكة العربية السعودية </span>
          <a href="https://www.vision2030.gov.sa/ar/" target="_blank">
            <img src="./assets/images/icons/footer/vision-opacity.svg" alt="" class="mr-opacity">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>

