<div class="ser-bg">
  <div class="ser-bread">
    <nav class="breadcrumb m-0 bg-transparent">
      <div class="container d-flex align-items-center">
        <a class="breadcrumb-item fs-16" [routerLink]="['/']"><i class="las la-home"></i>الرئيسية</a>
        <span class="breadcrumb-item fs-16 active">خدمة ال RSS</span>
      </div>
    </nav>
  </div>
</div>

<div class="container">
  <div class="row my-5">
    <div class="col-12">
      <div class="artical-content-wrapper">
        <h6 class="artical-title fa-22 mb-5">
          تؤكد إمارة منطقة الرياض حرصها لتحقيق رضى العملاء وذلك بإتاحة خدمات البوابة الخارجية للإمارة والخدمات
          الإلكترونية في جميع الأوقات .
        </h6>

        <div>
          <h4 class="artical-head">خدمات RSS المتاحة على الموقع</h4>

          <table class="table w-50">
            <tbody>
              <tr>
                <td>اخر اخبار المملكه</td>
                <td>
                  <a class="d-flex align-items-center justify-content-center text-primary-2" href="#" target="_blank">
                    <i class="fa-solid fa-link ms-2"></i>
                    <span>رابط الخدمة</span>
                  </a>
                </td>
              </tr>
              <tr>
                <td>اخر اخبار المملكه</td>
                <td>
                  <a class="d-flex align-items-center justify-content-center text-primary-2" href="#" target="_blank">
                    <i class="fa-solid fa-link ms-2"></i>
                    <span>رابط الخدمة</span>
                  </a>
                </td>
              </tr>
              <tr>
                <td>اخر اخبار المملكه</td>
                <td>
                  <a class="d-flex align-items-center justify-content-center text-primary-2" href="#" target="_blank">
                    <i class="fa-solid fa-link ms-2"></i>
                    <span>رابط الخدمة</span>
                  </a>
                </td>
              </tr>
              <tr>
                <td>اخر اخبار المملكه</td>
                <td>
                  <a class="d-flex align-items-center justify-content-center text-primary-2" href="#" target="_blank">
                    <i class="fa-solid fa-link ms-2"></i>
                    <span>رابط الخدمة</span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
