<div class="ser-bg">
  <div class="ser-bread">
    <nav class="breadcrumb m-0 bg-transparent">
      <div class="container d-flex align-items-center">
        <a class="breadcrumb-item fs-16" [routerLink]="['/']"><i class="las la-home"></i>الرئيسية</a>
        <span class="breadcrumb-item fs-16 active">خدمة ال RSS</span>
      </div>
    </nav>
  </div>
</div>

<div class="container">
  <div class="row my-5">
    <div class="col-12">
      <div class="artical-content-wrapper">
        <h6 class="artical-title fa-22 mb-5">
          هي خدمة جديدة تمكنك من الحصول على اخر الأخبار والمواضيع فور ورودها على الموقع الذي يوفر هذه الخدمة. فبدلا من تصفح المواقع و البحث عن المواضيع الجديدة، فإن خدمة RSS تخطرك بما يستجد من أخبار ومواضيع على تلك المواقع فور نشرها. و تشتمل الأخبار المتلقاة بهذه الطريقة في أبسط صورها على عنوان الخبر أو الموضوع، و مختصر لنص الخبر أو الموضوع، بالإضافة إلى وصلة أو رابط للنص الكامل على موقع منتج الخبر.
        </h6>
        <div>
          <h4 class="artical-head">خدمات RSS المتاحة على الموقع</h4>
          <table class="table w-50">
            <tbody>
              <tr>
                <td>آخر أخبار الإمارة</td>
                <td>
                  <a class="d-flex align-items-center justify-content-center text-primary-2" href="https://www.riyadh.gov.sa/ar/_layouts/SupportingHandlers/RSSHandler.ashx?web=ar&list=8a762395-3bb7-4192-848c-98951ec989c1&view=d1f388e0-0e89-4f89-8d98-3dd141b775ae&lang=ar&title=Title&desc=Body&link=http://www.riyadh.gov.sa/ar/Pages/News/NewsItem.aspx?ItemId=&date=ItemDate&count=100&length=700" target="_blank">
                    <i class="fa-solid fa-link ms-2"></i>
                    <span>رابط الخدمة</span>
                  </a>
                </td>
              </tr>
              <tr>
                <td>خر أخبار المملكة</td>
                <td>
                  <a class="d-flex align-items-center justify-content-center text-primary-2" href="https://www.riyadh.gov.sa/ar/_layouts/SupportingHandlers/RSSHandler.ashx?web=ar&list=8a762395-3bb7-4192-848c-98951ec989c1&view=09f6bef2-c158-49fe-9107-da39c1ddd444&lang=ar&title=Title&desc=Body&link=http://www.riyadh.gov.sa/ar/Pages/News/NewsItem.aspx?ItemId=&date=ItemDate&count=100&length=700" target="_blank">
                    <i class="fa-solid fa-link ms-2"></i>
                    <span>رابط الخدمة</span>
                  </a>
                </td>
              </tr>
              <tr>
                <td>آخر أخبار المحافظات</td>
                <td>
                  <a class="d-flex align-items-center justify-content-center text-primary-2" href="https://www.riyadh.gov.sa/ar/_layouts/SupportingHandlers/RSSHandler.ashx?web=ar&list=8a762395-3bb7-4192-848c-98951ec989c1&view=fac4bbe2-6ccf-411a-be87-9944e2b510b9&lang=ar&title=Title&desc=Body&link=http://www.riyadh.gov.sa/ar/Pages/News/NewsItem.aspx?ItemId=&date=ItemDate&count=100&length=700" target="_blank">
                    <i class="fa-solid fa-link ms-2"></i>
                    <span>رابط الخدمة</span>
                  </a>
                </td>
              </tr>
              <tr>
                <td>جميع تصنيفات الأخبار</td>
                <td>
                  <a class="d-flex align-items-center justify-content-center text-primary-2" href="https://www.riyadh.gov.sa/ar/_layouts/SupportingHandlers/RSSHandler.ashx?web=ar&list=8a762395-3bb7-4192-848c-98951ec989c1&view=397B079B-9559-4F9C-BDCB-D9AC8E4D84DE&lang=ar&title=Title&desc=Body&link=http://www.riyadh.gov.sa/ar/Pages/News/NewsItem.aspx?ItemId=&date=ItemDate&count=100&length=700" target="_blank">
                    <i class="fa-solid fa-link ms-2"></i>
                    <span>رابط الخدمة</span>
                  </a>
                </td>
              </tr>
              <tr>
                <td>دليل الإجراءات</td>
                <td>
                  <a class="d-flex align-items-center justify-content-center text-primary-2" href="https://www.riyadh.gov.sa/ar/_layouts/SupportingHandlers/RSSHandler.ashx?web=ar&list=09a0470b-8648-48bd-b5f6-38e583ae9a8f&view=337f8e56-437c-4930-a9f8-a2c7e7dd6428&lang=ar&title=Title&desc=Body&link=http://www.riyadh.gov.sa/ar/Pages/Procedures/Procedure.aspx?ItemId=&date=Created&count=100&length=700" target="_blank">
                    <i class="fa-solid fa-link ms-2"></i>
                    <span>رابط الخدمة</span>
                  </a>
                </td>
              </tr>
              <tr>
                <td>تقارير إعلامية</td>
                <td>
                  <a class="d-flex align-items-center justify-content-center text-primary-2" href="https://www.riyadh.gov.sa/ar/_layouts/SupportingHandlers/RSSHandler.ashx?web=ar&list=ea469704-3734-446f-8ff0-8903f6c9e1b0&view=121ed7a6-9abb-441b-8beb-7b4f868222ee&lang=ar&title=Title&desc=Body&link=http://www.riyadh.gov.sa/ar/Pages/Reports/Report.aspx?ItemId=&date=ItemDate&count=100&length=700" target="_blank">
                    <i class="fa-solid fa-link ms-2"></i>
                    <span>رابط الخدمة</span>
                  </a>
                </td>
              </tr>
              <tr>
                <td>المناقصات</td>
                <td>
                  <a class="d-flex align-items-center justify-content-center text-primary-2" href="https://www.riyadh.gov.sa/ar/_layouts/SupportingHandlers/RSSHandler.ashx?web=ar&list=851C9A57-1101-4F9F-830C-D95BB77ABF78&lang=ar&title=Title&desc=Body&link=http://www.riyadh.gov.sa/ar/Pages/Tenders/Tender.aspx?ItemId=&date=ItemDate&count=100&length=700" target="_blank">
                    <i class="fa-solid fa-link ms-2"></i>
                    <span>رابط الخدمة</span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
