<!-- breadcrumb -->
<div class="ser-bg">
    <div class="ser-bread">
      <nav class="breadcrumb m-0 bg-transparent">
        <a class="breadcrumb-item fs-16" [routerLink]="['/']"><i class="las la-home"></i>الرئيسية</a>
        <span class="breadcrumb-item fs-16 active">أمراء المنطقة</span>
      </nav>
    </div>
  </div>
  
  <div class="container">
    <div class="row my-5 py-md-5">
      <div class="col-12">
        <div class="timeline-container">
            <ul class="timeline">
                <li [attr.data-text]="item?.description" *ngFor="let item of regionPrincesList">
                    <div class="dots"></div>

                    <div class="timeline-item">
                        <div class="avatar">
                            <img [src]="item?.avatar" class="img-fluid" [attr.alt]="item?.name" />
                        </div>
                        <h4 class="title">{{item?.name}}</h4>
                        <h6 class="subtitle">{{item?.subtitle}}</h6>
                        <p class="desc">{{item?.dateFrom}} - {{item?.dateTo}}</p> 
                    </div>
                </li>
              </ul>  
        </div>
      </div>
    </div>
  </div>