<div class="ser-bg">
  <div class="ser-bread">
    <nav class="breadcrumb m-0 bg-transparent">
      <div class="container d-flex align-items-center">
        <a class="breadcrumb-item fs-16" [routerLink]="['/']"><i class="las la-home"></i>الرئيسية</a>
        <span class="breadcrumb-item fs-16 active">أمراء المنطقة</span>
      </div>
    </nav>
  </div>
</div>

<div class="container">
  <div class="row my-5 py-md-5">
    <div class="col-12">
      <div class="timeline-container">
        <ul class="timeline">
          <li *ngFor="let item of emiratesPrinceListDto" class="cursor-pointer">
            <div class="dots"></div>
            <div class="timeline-item" title="السيرة الذاتية" (click)="showCv(item.id)">
              <div class="avatar">
                <img *ngIf="item?.imageName" [src]="['/assets/images/uploads/princes/'+item.imageName]"
                  [alt]="item?.nameAr" class="img-fluid" />
                <img *ngIf="!item?.imageName" src="assets/images/120.png" [alt]="item?.nameAr" class="img-fluid" />
              </div>
              <h4 class="title">{{item?.nameAr}}</h4>
              <h6 class="subtitle" *ngIf="item?.behalfToAr">بالنيابة عن {{item?.behalfToAr}}</h6>
              <p class="desc">{{item?.fromDate}} : {{item?.toDate}}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<p-dialog [modal]="true" header="السيرة الذاتية" [(visible)]="showDialog">
  <div class="row mt-4">
    <div class="col-12" *ngIf="emiratesPrinceDetailsDto?.imageName">
      <div class="text-center mb-4">
        <img [src]="['/assets/images/uploads/princes/'+emiratesPrinceDetailsDto?.imageName]"
          [alt]="emiratesPrinceDetailsDto?.nameEn" class="img-fluid rounded-4" alt="avatar"
          style="width: 120px; height: 120px;" />
      </div>

      <div class="content" *ngIf="emiratesPrinceDetailsDto?.cv" [outerHTML]="emiratesPrinceDetailsDto?.cv | listString">
      </div>
    </div>
  </div>
</p-dialog>
