<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
        <cors enabled="true" failUnlistedOrigins="true">
            <add origin="*" />
            <add origin="http://*" allowed="false" />
        </cors>
    <rewrite>
      <rules>
        <rule name="AngularRoutes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/emiratesprod/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>