<div class="ser-bg">
  <div class="ser-bread">
    <nav class="breadcrumb m-0 bg-transparent">
      <a class="breadcrumb-item fs-16" [routerLink]="['/']"><i class="las la-home"></i>الرئيسية</a>
      <span class="breadcrumb-item fs-16 active">دليل إجراءات الخدمات</span>
    </nav>
  </div>
</div>

<div class="container">
  <div class="row my-5" >
    <div class="col-md-6 mb-4" *ngFor="let service of services">
      <a class="card-basic-h" [routerLink]="['/home/services-guide' , service.id]">
        <div class="card-basic-banner">
          <img *ngIf="service.image" [src]="sanitizer.bypassSecurityTrustResourceUrl(service.image?.base64File)" class="img-fluid" alt="banner" />
          <img *ngIf="!service.image" src="assets/images/favicon/fav-logo.png" [alt]="service.nameAr" class="ser-icon" />
        </div>
        <div class="card-basic-body">
          <h4> {{ service.nameAr }} </h4>
          <p>{{ service.descriptionAr }}</p>
        </div>
      </a>
    </div>
  </div>
</div>
