<div class="container px-0" id="request-print-section">
  <div class="logo d-none">
    <img src="assets/images/logo.svg" class="img-fluid" alt="logo" />
  </div>
  <div class="form-card">
    <div class="form-wrapper">
      <div class="form-header">
        <h5>بيانات مقدم الطلب</h5>
      </div>
      <div class="form-content">
        <app-user-data-view></app-user-data-view>
      </div>
    </div>
  </div>
  <div class="form-card" #RequestData>
    <div class="form-wrapper">
      <div class="form-header">
        <h5>بيانات الطلب</h5>
      </div>
      <div class="form-content">
        <div class="row mx-0">
          <div class="info-col col-md-6 col-12">
            <span class="form-lbl lbl-33">رقم الطلب</span>
            <span class="form-val">{{ requestPrisonerTempReleaseDetailsDto?.requestNumber }}</span>
          </div>
          <div class="info-col col-md-6 col-12">
            <span class="form-lbl lbl-33">اسم الخدمة</span>
            <span class="form-val">{{ requestPrisonerTempReleaseDetailsDto?.serviceName }}</span>
          </div>
          <div class="info-col col-md-6 col-12">
            <span class="form-lbl lbl-33">تاريخ الطلب</span>
            <span class="form-val">{{ requestPrisonerTempReleaseDetailsDto?.requestDate }}</span>
          </div>
          <div class="info-col col-md-6 col-12">
            <span class="form-lbl lbl-33">حالة الطلب</span>
            <span class="form-val">{{ requestPrisonerTempReleaseDetailsDto?.stageName }}</span>
          </div>
          <div class="info-col col-md-6 col-12">
            <span class="form-lbl lbl-33">نوع الطلب</span>
            <span class="form-val">{{ requestPrisonerTempReleaseDetailsDto?.requestTypeName }}</span>
          </div>
          <div class="info-col col-md-6 col-12">
            <span class="form-lbl lbl-33">نوع القضية</span>
            <span class="form-val">{{ requestPrisonerTempReleaseDetailsDto?.caseTypeName }}</span>
          </div>
          <div class="info-col col-md-6 col-12">
            <span class="form-lbl lbl-33">اسم السجن</span>
            <span class="form-val">{{ requestPrisonerTempReleaseDetailsDto?.prisonName }}</span>
          </div>
          <div class="info-col col-md-12 col-12">
            <span class="form-lbl lbl-33">تفاصيل الطلب</span>
            <span class="form-val" *ngIf="requestPrisonerTempReleaseDetailsDto?.notes" [outerHTML]="requestPrisonerTempReleaseDetailsDto?.notes | listString"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container px-0">
  <div class="form-card">
    <div class="form-header">
      <h5>المرفقات</h5>
    </div>
    <div class="form-content">
      <app-request-attacment-preview [requestId]="requestId"></app-request-attacment-preview>
    </div>
  </div>

  <div class="form-card mb-0" *ngIf="showStatusLog">
    <div class="form-header">
      <h5>مراحل الطلب</h5>
    </div>
    <div class="form-content">
      <app-request-stage-log [requestId]="requestId"></app-request-stage-log>
    </div>
  </div>
</div>
