<div class="d-lg-flex justify-content-between align-items-center bread-container">
  <nav class="breadcrumb m-0 p-0 bg-transparent">
    <a class="breadcrumb-item fs-16" routerLink="/admin/home"><i class="las la-home fs-20"></i>الرئيسية</a>
    <a class="breadcrumb-item fs-16" [routerLink]="['/admin/data-management/reports-ar-list']">التقارير الاعلامية عربي</a>
    <span class="breadcrumb-item fs-16 active">تفاصيل التقرير الاعلامي</span>
  </nav>
</div>

<div class="form-card">
  <div class="form-header">
    <h5>تفاصيل التقرير الاعلامي</h5>
  </div>
  <div class="form-content">
    <div class="row mx-0">
      <div class="info-col col-md-6 col-12">
        <span class="form-lbl lbl-33">عنوان الخبر</span>
        <span class="form-val">{{ newsDetailsDto?.title }}</span>
      </div>
      <div class="info-col col-md-6 col-12">
        <span class="form-lbl lbl-33">مصدر الخبر</span>
        <span class="form-val">{{ newsDetailsDto?.newsOrigin }}</span>
      </div>
      <div class="info-col col-md-12 col-12">
        <span class="form-lbl lbl-33">محتوى الخبر</span>
        <span class="form-val" *ngIf="newsDetailsDto?.content" [outerHTML]="newsDetailsDto?.content | listString"></span>
      </div>
      <div class="info-col col-md-6 col-12 separator-af-be">
        <span class="form-lbl lbl-33">التاريخ</span>
        <span class="form-val">{{ newsDetailsDto?.date | date: "dd-MM-yyyy" }}</span>
      </div>
      <div class="info-col col-md-6 col-12">
        <span class="form-lbl lbl-33">الحالة</span>
        <span class="form-val">{{ newsDetailsDto?.isActive ? "مفعل" : "غير مفعل" }}</span>
      </div>
      <div class="form-group col-6" *ngIf="newsDetailsDto?.imageName">
        <img [src]="['/assets/images/uploads/news/'+newsDetailsDto?.imageName]" [alt]="newsDetailsDto?.title" style="width: 100%; height: 200px;" />
      </div>
    </div>
  </div>
</div>

<div class="form-actions">
  <a [routerLink]="['/admin/data-management/reports-ar-list']" class="btn btn-cancel">رجوع</a>
</div>
