<div class="p-5">

  <p-steps [model]="wizardItems" [(activeIndex)]="activeIndex"></p-steps>

  <form [formGroup]="judgmentExecutionForm" (ngSubmit)="onSubmit()">
    <div class="form-card">
      <div class="form-header">
        <h5>خدمة انفاذ حكم شرعي</h5>
      </div>
      <div class="form-content">
        <div class="row mx-0">
          <div class="form-group col-md-6" *ngIf="requestTypes?.length > 0">
            <label for="requestTypeId" class="form-lbl">نوع الطلب<span class="danger">*</span></label>
            <select class="form-control form-select" formControlName="requestTypeId" [ngClass]="{
              invalid:
                (isFormSubmitted || judgmentExecutionForm.get('requestTypeId').touched) &&
                judgmentExecutionForm.get('requestTypeId').errors?.required}">
              <option [ngValue]="null">-- اختر نوع الطلب --</option>
              <option *ngFor="let requestType of requestTypes" [ngValue]="requestType.id">{{ requestType.name }}</option>
            </select>
            <small *ngIf="(isFormSubmitted || judgmentExecutionForm.get('requestTypeId').touched) && judgmentExecutionForm.get('requestTypeId').errors?.required" class="danger">هذاالحقل مطلوب</small>
          </div>
          <div class="form-group col-md-6" *ngIf="requestTypes?.length > 0">
          </div>
          <div class="form-group col-md-6">
            <label for="requesterType" class="form-lbl">نوع مقدم الطلب<span class="danger">*</span></label>
            <select class="form-control form-select" formControlName="requesterType" (change)="onRequesterTypeChange()" [ngClass]="{
              invalid:
                (isFormSubmitted || judgmentExecutionForm.get('requesterType').touched) &&
                judgmentExecutionForm.get('requesterType').errors?.required}">
              <option [ngValue]="1">نفسه</option>
              <option [ngValue]="2">الموكل</option>
            </select>
            <small *ngIf="(isFormSubmitted || judgmentExecutionForm.get('requesterType').touched) && judgmentExecutionForm.get('requesterType').errors?.required" class="danger">هذاالحقل مطلوب</small>
          </div>
          <div class="form-group col-md-6">
            <label for="defendantTypeId" class="form-lbl">نوع المنفذ ضده<span class="danger">*</span></label>
            <select class="form-control form-select" formControlName="defendantTypeId" [ngClass]="{
              invalid:
                (isFormSubmitted || judgmentExecutionForm.get('defendantTypeId').touched) &&
                judgmentExecutionForm.get('defendantTypeId').errors?.required}">
              <option [ngValue]="null">-- اختر نوع المنفذ ضد --</option>
              <option *ngFor="let defendantType of defendantTypes" [ngValue]="defendantType.id">{{ defendantType.name }}</option>
            </select>
            <small *ngIf="(isFormSubmitted || judgmentExecutionForm.get('defendantTypeId').touched) && judgmentExecutionForm.get('defendantTypeId').errors?.required" class="danger">هذاالحقل مطلوب</small>
          </div>
          <div class="form-group col-md-6" *ngIf="!isSameRequester">
            <label for="requesterName" class="form-lbl">اسم المدعي<span class="danger">*</span></label>
            <input type="text" class="form-control" autocomplete="off" formControlName="requesterName" id="requesterName" [ngClass]="{
              invalid:
                (isFormSubmitted || judgmentExecutionForm.get('requesterName').touched) &&
                judgmentExecutionForm.get('requesterName').errors?.required}" />
            <small *ngIf="(isFormSubmitted || judgmentExecutionForm.get('requesterName').touched) && judgmentExecutionForm.get('requesterName').errors?.required" class="danger">هذاالحقل مطلوب</small>
          </div>
          <div class="form-group col-md-6" *ngIf="!isSameRequester">
            <label for="requesterNationalId" class="form-lbl">رقم هوية المدعي<span class="danger">*</span></label>
            <input type="text" class="form-control" autocomplete="off" formControlName="requesterNationalId" id="requesterNationalId" [ngClass]="{
              invalid:
                (isFormSubmitted || judgmentExecutionForm.get('requesterNationalId').touched) &&
                judgmentExecutionForm.get('requesterNationalId').errors?.required}" />
            <small *ngIf="(isFormSubmitted || judgmentExecutionForm.get('requesterNationalId').touched) && judgmentExecutionForm.get('requesterNationalId').errors?.required" class="danger">هذاالحقل مطلوب</small>
          </div>
          <div class="form-group col-md-6">
            <label for="lawsuitNumber" class="form-lbl">رقم الدعوة<span class="danger">*</span></label>
            <input type="text" class="form-control" autocomplete="off" formControlName="lawsuitNumber" id="lawsuitNumber" [ngClass]="{
              invalid:
                (isFormSubmitted || judgmentExecutionForm.get('lawsuitNumber').touched) &&
                judgmentExecutionForm.get('lawsuitNumber').errors?.required}" />
            <small *ngIf="(isFormSubmitted || judgmentExecutionForm.get('lawsuitNumber').touched) && judgmentExecutionForm.get('lawsuitNumber').errors?.required" class="danger">هذاالحقل مطلوب</small>
          </div>
          <div class="form-group col-md-6">
            <hijri-gregorian-datepicker id="date" [(selectedDate)]="date" [maxGreg]="maxGreg" [maxHijri]="maxHigriDate"
                [placeHolder]="'سنة/شهر/يوم'" [GregLabel]="'ميلادي'" [hijriLabel]="'هجري'" label="تاريخ الدعوة"
                [isRequired]="true" [selectedDateType]="selectedDateType" #lawsuitDate>
            </hijri-gregorian-datepicker>
            <small *ngIf="(isFormSubmitted || judgmentExecutionForm.get('lawsuitDate').touched) && judgmentExecutionForm.get('lawsuitDate').errors?.required" class="danger">هذاالحقل مطلوب</small>
          </div>
          <div class="form-group col-md-12">
            <label for="notes" class="form-lbl">تفاصيل الدعوة<span class="danger">*</span></label>
            <textarea type="text" class="form-control" autocomplete="off" formControlName="notes" id="notes" [ngClass]="{
              invalid:
                (isFormSubmitted || judgmentExecutionForm.get('notes').touched) &&
                judgmentExecutionForm.get('notes').errors?.required}">
          </textarea>
            <small *ngIf="(isFormSubmitted || judgmentExecutionForm.get('notes').touched) && judgmentExecutionForm.get('notes').errors?.required" class="danger">هذاالحقل مطلوب</small>
          </div>
        </div>
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-save">التالي</button>
      <a [routerLink]="['/eservice/my-requests']" class="btn btn-cancel">إلغاء</a>
    </div>
  </form>
</div>
