<div class="d-lg-flex justify-content-between align-items-center bread-container">
  <nav class="breadcrumb m-0 p-0 bg-transparent">
    <a class="breadcrumb-item fs-16" routerLink="/admin/home"><i class="las la-home fs-20"></i>الرئيسية</a>
    <a class="breadcrumb-item fs-16" [routerLink]="['/admin/data-management/service-stage-list']">مراحل الخدمات</a>
    <span class="breadcrumb-item fs-16 active">اضافة مرحلة على خدمة</span>
  </nav>
</div>

<form [formGroup]="createServiceStageForm" (ngSubmit)="onSubmit()">
  <div class="form-card">
    <div class="form-header">
      <h5>اضافة مرحلة على خدمة</h5>
    </div>
    <div class="form-content">
      <div class="row mx-0">
        <div class="form-group col-md-6">
          <label for="serviceId" class="form-lbl">الخدمة<span class="danger">*</span></label>
          <select class="form-control form-select" formControlName="serviceId" [ngClass]="{
              invalid:
                (isFormSubmitted || createServiceStageForm.get('serviceId').touched) &&
                createServiceStageForm.get('serviceId').errors?.required
            }">
            <option [ngValue]="null">-- اختر الخدمة --</option>
            <option *ngFor="let service of services" [ngValue]="service.id">{{ service.name }}</option>
          </select>
          <small *ngIf="(isFormSubmitted || createServiceStageForm.get('serviceId').touched) && createServiceStageForm.get('serviceId').errors?.required" class="danger">هذاالحقل مطلوب</small>
        </div>
        <div class="form-group col-md-6">
          <label for="stageId" class="form-lbl">المرحلة<span class="danger">*</span></label>
          <select class="form-control form-select" formControlName="stageId" [ngClass]="{
              invalid:
                (isFormSubmitted || createServiceStageForm.get('stageId').touched) &&
                createServiceStageForm.get('stageId').errors?.required
            }">
            <option [ngValue]="null">-- اختر المرحلة --</option>
            <option *ngFor="let stage of stages" [ngValue]="stage.id">{{ stage.name }}</option>
          </select>
          <small *ngIf="(isFormSubmitted || createServiceStageForm.get('stageId').touched) && createServiceStageForm.get('stageId').errors?.required" class="danger">هذاالحقل مطلوب</small>
        </div>
        <div class="form-group col-md-6">
          <label for="requesterUrl" class="form-lbl">رابط المستفيد الخارجي</label>
          <input type="text" class="form-control" autocomplete="off" formControlName="requesterUrl" id="requesterUrl" />
        </div>
        <div class="form-group col-md-6">
          <label for="adminUrl" class="form-lbl">رابط المستخدم الداخلي</label>
          <input type="text" class="form-control" autocomplete="off" formControlName="adminUrl" id="adminUrl" />
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-save">حفظ</button>
    <a [routerLink]="['/admin/data-management/service-stage-list']" class="btn btn-cancel">رجوع</a>
  </div>
</form>
