<div class="auth-card">
  <div class="auth-head">
    <a routerLink="/" class="card-logo">
      <img src="assets/images/logo.svg" alt="logo" class="img-fluid" />
    </a>
  </div>
  <div class="w-100">
    <h4 class="title">{{ "register.labels.createNewAccount" | translate }}</h4>
    <div class="row mx-0" *ngIf="showCheckUserRegisterForm">
      <div class="col-md-8 mx-auto">
        <form
          [formGroup]="checkUserRegisterForm"
          (ngSubmit)="onCheck()"
          class="fs-13px">
          <div class="form-group mb-4">
            <label for="nationalId">
              {{ "register.labels.nationalIdOrResidentNumber" | translate}}
              <span class="danger">*</span>
              </label>
            <input
              type="text"
              class="form-control"
              maxlength="10"
              formControlName="nationalId"
              id="nationalId"
              [ngClass]="{
                invalid:
                  (isFormSubmitted ||
                    checkUserRegisterForm.get('nationalId').touched) &&
                  checkUserRegisterForm.get('nationalId').errors?.required
              }"
            />
            <small
              *ngIf="
                (isFormSubmitted ||
                  checkUserRegisterForm.get('nationalId').touched) &&
                checkUserRegisterForm.get('nationalId').errors?.required"
              class="danger">
              {{ "global.validators.requiredField" | translate }}
            </small>
          </div>
          <div class="form-group mb-4">
            <!--[minGreg]="minGreg" [minHijri]="minHigriDate"-->
            <hijri-gregorian-datepicker
              id="date"
              [placeHolder]="'register.labels.dateComponent' | translate"
              [isRequired]="false"
              [GregLabel]="'register.labels.greg' | translate "
              [hijriLabel]="'register.labels.higri' | translate "
              [maxGreg]="maxGreg"
              [maxHijri]="maxHigriDate"
              [selectedDateType]="selectedDateType"
              [label]="'register.labels.birthDate' | translate"
              #birthDate
            >
            </hijri-gregorian-datepicker>
            <small *ngIf="isFormSubmitted && isValidDate" class="danger">
              {{"global.validators.requiredField" | translate }}</small>
          </div>

          <div class="pt-3">
            <button type="submit" class="btn btn-primary submit">
              {{ 'register.labels.check' | translate }}
            </button>
            <a routerLink="/auth/login" class="btn btn-secondary submit mb-0">
              {{ 'register.labels.back' | translate }}
            </a>
          </div>
        </form>
      </div>
    </div>

    <div class="row mx-0" *ngIf="showUserRegisterForm">
      <div class="col-md-10 mx-auto">
        <form
          [formGroup]="userRegisterForm"
          (ngSubmit)="onRegister()"
          class="fs-13px"
        >
          <div class="accordion" id="accordionRegister">
            <div class="accordion-item mb-4">
              <div
                class="accordion-header collapsed"
                id="headingFirstForm"
                data-bs-toggle="collapse"
                data-bs-target="#firstForm"
                aria-expanded="true"
                aria-controls="firstForm">
                <h6>{{ 'register.labels.pesronalInfo' | translate }}</h6>
                <div class="arrow bg-transparent">
                  <i class="fa-solid fa-chevron-down text-secondary"></i>
                </div>
              </div>
              <div
                id="firstForm"
                class="accordion-collapse collapse"
                aria-labelledby="headingFirstForm"
                data-bs-parent="#accordionRegister"
              >
                <div class="accordion-body bg-white">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group mb-4">
                        <label for="userName">
                          {{ 'register.labels.nationalIdOrResidentNumber' | translate}}
                          <span class="danger">*</span></label >
                        <input
                          type="text"
                          class="form-control"
                          formControlName="userName"
                          id="userName"
                          maxlength="10"
                          readonly
                          [ngClass]="{
                            invalid:
                              (isFormSubmitted ||
                                userRegisterForm.get('userName').touched) &&
                              userRegisterForm.get('userName').errors?.required
                          }"
                        />
                        <small
                          *ngIf="
                            (isFormSubmitted ||
                              userRegisterForm.get('userName').touched) &&
                            userRegisterForm.get('userName').errors?.required
                          "
                          class="danger"
                          >{{
                            "global.validators.requiredField" | translate
                          }}</small
                        >
                      </div>
                    </div>
                    <div class="col-sm-6">

                      <div class="form-group mb-4">
                        <hijri-gregorian-datepicker
                          id="dateOfBirth"
                          [placeHolder]="'register.labels.dateComponent' | translate"
                          [isRequired]="false"
                          [hijriLabel]="'register.labels.higri' | translate "
                          [GregLabel]="'register.labels.greg' | translate "
                          [maxHijri]="maxHigriDate"
                          [maxGreg]="maxGreg"
                          [selectedDateType]="selectedDateType"
                          [label]="'register.labels.birthDate' | translate"
                          #birthDate
                        >
                        </hijri-gregorian-datepicker>
                        <small
                          *ngIf="isFormSubmitted && isValidDate"
                          class="danger"
                          >{{
                            "global.validators.requiredField" | translate
                          }}</small
                        >
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <div class="form-group mb-4">
                        <label for="firstNameAr">
                          {{ 'register.labels.firstNameAr' | translate}}
                          <span class="danger">*</span></label>
                        <input
                          type="text"
                          class="form-control"
                          formControlName="firstNameAr"
                          id="firstNameAr"
                          [ngClass]="{
                            invalid:
                              (isFormSubmitted ||
                                userRegisterForm.get('firstNameAr').touched) &&
                              userRegisterForm.get('firstNameAr').errors
                                ?.required
                          }"
                        />
                        <small
                          *ngIf="
                            (isFormSubmitted ||
                              userRegisterForm.get('firstNameAr').touched) &&
                            userRegisterForm.get('firstNameAr').errors?.required
                          "
                          class="danger"
                          >{{
                            "global.validators.requiredField" | translate
                          }}</small
                        >
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group mb-4">
                        <label for="firstNameEn">
                          {{ 'register.labels.firstNameAr' | translate }}<span class="danger">*</span
                          ></label>
                        <input
                          type="text"
                          class="form-control"
                          formControlName="firstNameEn"
                          id="firstNameEn"
                          [ngClass]="{
                            invalid:
                              (isFormSubmitted ||
                                userRegisterForm.get('firstNameEn').touched) &&
                              userRegisterForm.get('firstNameEn').errors
                                ?.required
                          }"
                        />
                        <small
                          *ngIf="
                            (isFormSubmitted ||
                              userRegisterForm.get('firstNameEn').touched) &&
                            userRegisterForm.get('firstNameEn').errors?.required
                          "
                          class="danger"
                          >{{
                            "global.validators.requiredField" | translate
                          }}</small>
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <div class="form-group mb-4">
                        <label for="secondNameAr">
                          {{ 'register.labels.secondNameAr' | translate}} <span class="danger">*</span></label
                        >
                        <input
                          type="text"
                          class="form-control"
                          formControlName="secondNameAr"
                          id="secondNameAr"
                          [ngClass]="{
                            invalid:
                              (isFormSubmitted ||
                                userRegisterForm.get('secondNameAr').touched) &&
                              userRegisterForm.get('secondNameAr').errors
                                ?.required
                          }"
                        />
                        <small
                          *ngIf="
                            (isFormSubmitted ||
                              userRegisterForm.get('secondNameAr').touched) &&
                            userRegisterForm.get('secondNameAr').errors
                              ?.required
                          "
                          class="danger"
                          >{{
                            "global.validators.requiredField" | translate
                          }}</small
                        >
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group mb-4">
                        <label for="secondNameEn">
                          {{ 'register.labels.secondNameEn' | translate}}
                          <span class="danger">*</span></label>
                        <input
                          type="text"
                          class="form-control"
                          formControlName="secondNameEn"
                          id="secondNameEn"
                          [ngClass]="{
                            invalid:
                              (isFormSubmitted ||
                                userRegisterForm.get('secondNameEn').touched) &&
                              userRegisterForm.get('secondNameEn').errors
                                ?.required
                          }"
                        />
                        <small
                          *ngIf="
                            (isFormSubmitted ||
                              userRegisterForm.get('secondNameEn').touched) &&
                            userRegisterForm.get('secondNameEn').errors
                              ?.required
                          "
                          class="danger"
                          >{{
                            "global.validators.requiredField" | translate
                          }}</small
                        >
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <div class="form-group mb-4">
                        <label for="thirdNameAr">
                          {{ 'register.labels.thirdNameAr' | translate}}
                          <span class="danger">*</span></label>
                        <input
                          type="text"
                          class="form-control"
                          formControlName="thirdNameAr"
                          id="thirdNameAr"
                          [ngClass]="{
                            invalid:
                              (isFormSubmitted ||
                                userRegisterForm.get('thirdNameAr').touched) &&
                              userRegisterForm.get('thirdNameAr').errors
                                ?.required
                          }"
                        />
                        <small
                          *ngIf="
                            (isFormSubmitted ||
                              userRegisterForm.get('thirdNameAr').touched) &&
                            userRegisterForm.get('thirdNameAr').errors?.required
                          "
                          class="danger"
                          >{{
                            "global.validators.requiredField" | translate
                          }}</small
                        >
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group mb-4">
                        <label for="thirdNameEn">
                          {{ 'register.labels.thirdNameEn' | translate}}
                          <span class="danger">*</span></label>
                        <input
                          type="text"
                          class="form-control"
                          formControlName="secondNameEn"
                          id="thirdNameEn"
                          [ngClass]="{
                            invalid:
                              (isFormSubmitted ||
                                userRegisterForm.get('thirdNameEn').touched) &&
                              userRegisterForm.get('thirdNameEn').errors
                                ?.required
                          }"
                        />
                        <small
                          *ngIf="
                            (isFormSubmitted ||
                              userRegisterForm.get('thirdNameEn').touched) &&
                            userRegisterForm.get('thirdNameEn').errors?.required
                          "
                          class="danger"
                          >{{
                            "global.validators.requiredField" | translate
                          }}</small
                        >
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <div class="form-group mb-4">
                        <label for="lastNameAr">
                          {{ 'register.labels.lastNameAr' | translate}}
                          <span class="danger">*</span></label>
                        <input
                          type="text"
                          class="form-control"
                          formControlName="lastNameAr"
                          id="lastNameAr"
                          [ngClass]="{
                            invalid:
                              (isFormSubmitted ||
                                userRegisterForm.get('lastNameAr').touched) &&
                              userRegisterForm.get('lastNameAr').errors
                                ?.required
                          }"
                        />
                        <small
                          *ngIf="
                            (isFormSubmitted ||
                              userRegisterForm.get('lastNameAr').touched) &&
                            userRegisterForm.get('lastNameAr').errors?.required
                          "
                          class="danger"
                          >{{
                            "global.validators.requiredField" | translate
                          }}</small
                        >
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group mb-4">
                        <label for="lastNameEn">
                        {{ 'register.labels.lastNameEn' | translate}}

                          <span class="danger"
                            >*</span></label>
                        <input
                          type="text"
                          class="form-control"
                          formControlName="lastNameEn"
                          id="lastNameEn"
                          [ngClass]="{
                            invalid:
                              (isFormSubmitted ||
                                userRegisterForm.get('lastNameEn').touched) &&
                              userRegisterForm.get('lastNameEn').errors
                                ?.required
                          }"
                        />
                        <small
                          *ngIf="
                            (isFormSubmitted ||
                              userRegisterForm.get('lastNameEn').touched) &&
                            userRegisterForm.get('lastNameEn').errors?.required
                          "
                          class="danger"
                          >{{
                            "global.validators.requiredField" | translate
                          }}</small
                        >
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <div class="form-group mb-4">
                        <label for="isMale" class="form-lbl">
                          {{ 'register.labels.gender' | translate}}<span class="danger">*</span></label>
                        <select
                          class="form-control form-select"
                          formControlName="isMale"
                          id="isMale">
                          <option [ngValue]="null">{{ 'register.labels.select' | translate }}...</option>
                          <option [ngValue]="true">{{ 'register.labels.male' | translate }}</option>
                          <option [ngValue]="false">{{ 'register.labels.female' | translate }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group mb-4">
                        <label for="passportId">
                          {{ 'register.labels.passportNo' | translate}}
                        </label>
                        <input
                          type="text"
                          class="form-control"
                          formControlName="passportId"
                          id="passportId"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="accordion-item mb-4">
              <div
                class="accordion-header collapsed"
                id="headingSecondForm"
                data-bs-toggle="collapse"
                data-bs-target="#secondForm"
                aria-expanded="true"
                aria-controls="secondForm">
                <h6>{{ 'register.labels.registerationInfo' | translate }}</h6>
                <div class="arrow bg-transparent">
                  <i class="fa-solid fa-chevron-down text-secondary"></i>
                </div>
              </div>
              <div
                id="secondForm"
                class="accordion-collapse collapse"
                aria-labelledby="headingSecondForm"
                data-bs-parent="#accordionRegister">
                <div class="accordion-body bg-white">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group mb-4">
                        <label for="passWord">
                          {{ 'register.labels.password' | translate}}
                          <span class="danger">*</span></label>
                        <input
                          type="password"
                          class="form-control"
                          formControlName="passWord"
                          id="passWord"
                          [ngClass]="{
                            invalid:
                              (isFormSubmitted ||
                                userRegisterForm.get('passWord').touched) &&
                              userRegisterForm.get('passWord').errors?.required
                          }"
                        />
                        <small
                          *ngIf="
                            (isFormSubmitted ||
                              userRegisterForm.get('passWord').touched) &&
                            userRegisterForm.get('passWord').errors?.required "
                          class="danger"
                          >{{ "global.validators.requiredField" | translate }}</small
                        >
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group mb-4">
                        <label for="confirmPassWord">
                          {{ 'register.labels.passwordConfirmation' | translate }}
                          <span class="danger">*</span></label>
                        <input
                          type="password"
                          class="form-control"
                          formControlName="confirmPassWord"
                          id="confirmPassWord"
                          [ngClass]="{
                            invalid:
                              (isFormSubmitted ||
                                userRegisterForm.get('confirmPassWord')
                                  .touched) &&
                              userRegisterForm.get('confirmPassWord').errors
                                ?.required
                          }"
                        />
                        <small
                          *ngIf="
                            (isFormSubmitted ||
                              userRegisterForm.get('confirmPassWord')
                                .touched) &&
                            userRegisterForm.get('confirmPassWord').errors
                              ?.required
                          "
                          class="danger"
                          >{{
                            "global.validators.requiredField" | translate
                          }}</small
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="accordion-item mb-4">
              <div
                class="accordion-header collapsed"
                id="headingThirdForm"
                data-bs-toggle="collapse"
                data-bs-target="#thirdForm"
                aria-expanded="true"
                aria-controls="thirdForm">
                <h6>{{ 'register.labels.communicationInfo' | translate }}</h6>
                <div class="arrow bg-transparent">
                  <i class="fa-solid fa-chevron-down text-secondary"></i>
                </div>
              </div>
              <div
                id="thirdForm"
                class="accordion-collapse collapse"
                aria-labelledby="headingThirdForm"
                data-bs-parent="#accordionRegister"
              >
                <div class="accordion-body bg-white">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group mb-4">
                        <label for="phoneNumber">
                          {{ 'register.labels.phoneNumber' | translate}}
                          <span class="danger">*</span></label>
                        <input
                          type="text"
                          class="form-control"
                          formControlName="phoneNumber"
                          id="phoneNumber"
                          [ngClass]="{
                            invalid:
                              (isFormSubmitted ||
                                userRegisterForm.get('phoneNumber').touched) &&
                              userRegisterForm.get('phoneNumber').errors
                                ?.required
                          }"
                        />
                        <small
                          *ngIf="
                            (isFormSubmitted ||
                              userRegisterForm.get('phoneNumber').touched) &&
                            userRegisterForm.get('phoneNumber').errors?.required"
                          class="danger">
                          {{ "global.validators.requiredField" | translate }}
                          </small>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group mb-4">
                        <label for="email">
                          {{ 'register.labels.email' | translate}}
                          <span class="danger">*</span></label>
                        <input
                          type="text"
                          class="form-control"
                          formControlName="email"
                          id="email"
                          [ngClass]="{
                            invalid:
                              (isFormSubmitted ||
                                userRegisterForm.get('email').touched) &&
                              userRegisterForm.get('email').errors?.requiredField
                            }"
                        />
                        <small
                          *ngIf="
                            (isFormSubmitted ||
                              userRegisterForm.get('email').touched) &&
                            userRegisterForm.get('email').errors?.required"
                          class="danger">{{ "global.validators.requiredField" | translate }}</small>
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <div class="form-group mb-4">
                        <label for="nationalityId" class="form-lbl">
                          {{ 'register.labels.nationality' | translate}}
                        </label>
                        <select
                          class="form-control form-select"
                          formControlName="nationalityId"
                          id="nationalityId">
                          <option [ngValue]="null">-- {{ 'register.label.selectNationality' }}  --</option>
                          <option
                            *ngFor="let nationality of nationalities"
                            [ngValue]="nationality.id">
                            {{ nationality.name }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group mb-4">
                        <label for="governorateId" class="form-lbl" >{{ 'register.label.government' | translate }}</label>
                        <select
                          class="form-control form-select"
                          formControlName="governorateId"
                          id="governorateId">
                          <option [ngValue]="null">-- {{ 'register.labels.selectGovernment' | translate}} --</option>
                          <option
                            *ngFor="let governorate of governorates"
                            [ngValue]="governorate.id">
                            {{ governorate.name }}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="col-lg-12 d-flex align-items-end">
                      <div class="form-group w-100 mb-4">
                        <label for="address">{{ 'register.labels.address' | translate }}</label>
                        <input
                          type="text"
                          class="form-control"
                          formControlName="address"
                          id="address"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-5">
            <button type="submit" class="btn btn-primary submit">{{ 'global.actions.save' | translate}}</button>
            <a routerLink="/auth/login" class="btn btn-secondary submit">{{ 'register.labels.back' | translate }}</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
