<div class="d-lg-flex justify-content-between align-items-center bread-container">
  <nav class="breadcrumb m-0 p-0 bg-transparent">
    <a class="breadcrumb-item fs-16" routerLink="/admin/home"><i class="las la-home fs-20"></i>الرئيسية</a>
    <a class="breadcrumb-item fs-16" [routerLink]="['/admin/data-management/governorate-news-en-list']">أخبار المحافظات انجليزي</a>
    <span class="breadcrumb-item fs-16 active">إضافة خبر عربي جديد</span>
  </nav>
</div>

<form [formGroup]="createNewsform" (ngSubmit)="onSubmit()">
  <div class="form-card">
    <div class="form-header">
      <h5>إضافة خبر انجليزي جديد</h5>
    </div>
    <div class="form-content">
      <div class="row mx-0">
        <div class="form-group col-md-6">
          <label for="title" class="form-lbl">عنوان الخبر<span class="danger">*</span></label>
          <input type="text" class="form-control" formControlName="title" id="title" [ngClass]="{
              invalid:
                (isFormSubmitted || createNewsform.get('title').touched) && createNewsform.get('title').errors?.required
            }" />
          <small *ngIf="(isFormSubmitted || createNewsform.get('title').touched) && createNewsform.get('title').errors?.required" class="danger">هذاالحقل مطلوب</small>
        </div>
        <div class="form-group col-md-6">
          <label for="newsOrigin" class="form-lbl">مصدر الخبر<span class="danger">*</span></label>
          <input type="text" class="form-control" formControlName="newsOrigin" id="newsOrigin" [ngClass]="{
              invalid:
                (isFormSubmitted || createNewsform.get('newsOrigin').touched) && createNewsform.get('newsOrigin').errors?.required
            }" />
          <small *ngIf="(isFormSubmitted || createNewsform.get('newsOrigin').touched) && createNewsform.get('newsOrigin').errors?.required" class="danger">هذاالحقل مطلوب</small>
        </div>
        <div class="form-group col-md-12">
          <label for="content" class="form-lbl">محتوى الخبر<span class="danger">*</span></label>
          <textarea rows="8" class="form-control" formControlName="content" id="content" [ngClass]="{
              invalid:
                (isFormSubmitted || createNewsform.get('content').touched) &&
                createNewsform.get('content').errors?.required
            }"></textarea>
          <small *ngIf="(isFormSubmitted || createNewsform.get('content').touched) && createNewsform.get('content').errors?.required" class="danger">هذاالحقل مطلوب</small>
        </div>
        <div class="form-group col-md-6">
          <hijri-gregorian-datepicker id="date" [placeHolder]="'سنة/شهر/يوم'"
                                      [(selectedDate)]="date"
                                      [isRequired]="true"
                                      [GregLabel]="'ميلادي'"
                                      [hijriLabel]="'هجري'"
                                      [selectedDateType]="selectedDateType"
                                      label="التاريخ"
                                      #datePicker>
          </hijri-gregorian-datepicker>
          <small *ngIf="(isFormSubmitted && isValidDate)" class="danger">هذاالحقل مطلوب</small>
        </div>
        <div class="form-group col-md-6">
          <label for="" class="form-lbl">تحميل الصورة<span class="danger">*</span></label>
          <p-fileUpload #uploader chooseLabel="تحميل الصورة" [auto]="true" [customUpload]="isCustomUpload"
                        (uploadHandler)="onUpload($event)" (onRemove)="onRemove($event)" [multiple]="isMultiple" mode="advanced"
                        [accept]="acceptType" [maxFileSize]="fileSize">
          </p-fileUpload>
          <small *ngIf="(isFormSubmitted || createNewsform.get('image').touched) && createNewsform.get('image').errors?.required" class="danger">هذاالحقل مطلوب</small>
        </div>
        <div class="form-group col-6">
          <label class="container-check">
            فعال
            <input formControlName="isActive" type="checkbox" id="isActive" />
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-save">حفظ</button>
    <a [routerLink]="['/admin/data-management/governorate-news-en-list']" class="btn btn-cancel">رجوع</a>
  </div>
</form>
