<div class="auth-card">
  <div class="auth-head">
    <div class="flex_row">
      <a routerLink="/" class="card-logo">
        <img src="assets/images/logo.svg" alt="logo" class="img-fluid" />
      </a>
      <span (click)="onChangeLang()" >
        <p-button pRipple label="ع" *ngIf="currentLang == 'en'"></p-button>
        <p-button pRipple label="en" *ngIf="currentLang == 'ar'"></p-button>
      </span>
    </div>
  </div>
  <div class="w-100">
    <h4 class="title">
      {{ 'login.labels.signIn' | translate }}
    </h4>
    <div class="row mx-0">
      <div class="col-md-8 mx-auto">
        <a href="https://new.riyadh.gov.sa/_IAM/_iam/IAMLogin.aspx">
          <div class="unifyied-login">
            <img src="./assets/images/NIC_logo.png" alt="" width="200">
            <span>عن طريق حسابك في منصة النفاذ الوطني الموحد</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
