
<div class="d-lg-flex justify-content-between align-items-center bread-container">
  <nav class="breadcrumb m-0 p-0 bg-transparent">
    <a class="breadcrumb-item fs-16" routerLink="/admin/home"><i class="las la-home fs-20"></i>الرئيسية</a>
    <a class="breadcrumb-item fs-16" [routerLink]="['/admin/data-management/prison-list']">السجون</a>
    <span class="breadcrumb-item fs-16 active">تفاصيل السجن</span>
  </nav>
</div>

<div class="form-card">
  <div class="form-header">
    <h5>تفاصيل السجن</h5>
  </div>
  <div class="form-content">
    <div class="row mx-0">
      <div class="info-col col-md-6 col-12">
        <span class="form-lbl lbl-33">الاسم عربي</span>
        <span class="form-val">{{ prisonDetailsDto?.nameAr }}</span>
      </div>
      <div class="info-col col-md-6 col-12">
        <span class="form-lbl lbl-33">الاسم انجليزي</span>
        <span class="form-val">{{ prisonDetailsDto?.nameEn }}</span>
      </div>
      <div class="info-col col-md-6 col-12">
        <span class="form-lbl lbl-33">الحالة</span>
        <span class="form-val">{{ prisonDetailsDto?.isActive ? "مفعل" : "غير مفعل" }}</span>
      </div>
    </div>
  </div>
</div>

<div class="form-actions">
  <a [routerLink]="['/admin/data-management/prison-list']" class="btn btn-cancel">رجوع</a>
</div>
