<div class="row mx-0">
  <div class="info-col col-md-4 col-12">
    <span class="form-lbl lbl-33">الاسم</span>
    <span class="form-val">{{ userDto?.nameAr }}</span>
  </div>
  <div class="info-col col-md-4 col-12">
    <span class="form-lbl lbl-33">رقم الهوية</span>
    <span class="form-val">{{ userDto?.nationalId }}</span>
  </div>
  <div class="info-col col-md-4 col-12">
    <span class="form-lbl lbl-33">جهة العمل</span>
    <span class="form-val">{{ userDto?.employeeSide }}</span>
  </div>

  <div class="info-col col-md-4 col-12">
    <span class="form-lbl lbl-33">المهنة</span>
    <span class="form-val">{{ userDto?.jobOccupation }}</span>
  </div>
  <div class="info-col col-md-4 col-12">
    <span class="form-lbl lbl-33">الحالة الاجتماعية</span>
    <span class="form-val">{{ userDto?.maritalStatusName }}</span>
  </div>
  <div class="info-col col-md-4 col-12">
    <span class="form-lbl lbl-33">عدد الأبناء</span>
    <span class="form-val">{{ userDto?.childrenCount }}</span>
  </div>

  <div class="info-col col-md-4 col-12">
    <span class="form-lbl lbl-33">الجنس</span>
    <span class="form-val">{{ userDto?.genderName }}</span>
  </div>
  <div class="info-col col-md-4 col-12">
    <span class="form-lbl lbl-33">تاريخ الميلاد</span>
    <span class="form-val">{{ userDto?.birthDate }}</span>
  </div>
  <div class="info-col col-md-4 col-12">
    <span class="form-lbl lbl-33">رقم الجوال</span>
    <span class="form-val">{{ userDto?.phoneNumber }}</span>
  </div>

  <div class="info-col col-md-4 col-12">
    <span class="form-lbl lbl-33">الجنسية</span>
    <span class="form-val">{{ userDto?.nationalityName }}</span>
  </div>
  <div class="info-col col-md-4 col-12">
    <span class="form-lbl lbl-33">المحافظة</span>
    <span class="form-val">{{ userDto?.governorateName }}</span>
  </div>
  <div class="info-col col-md-4 col-12">
    <span class="form-lbl lbl-33">البريد الالكتروني</span>
    <span class="form-val">{{ userDto?.email }}</span>
  </div>
</div>
