<!-- breadcrumb -->
<div class="ser-bg">
  <div class="ser-bread">
    <nav class="breadcrumb m-0 bg-transparent">
      <a class="breadcrumb-item fs-16" [routerLink]="['/']"><i class="las la-home"></i>الرئيسية</a>
      <span class="breadcrumb-item fs-16 active">محافظات منطقة الرياض</span>
    </nav>
  </div>
</div>

<div class="container">
  <div class="row my-5 py-md-5">
    <div class="col-md-6 mb-4" *ngFor="let item of regionGov">
        <div class="card-basic">
          <div class="card-basic-cover">
            <img [src]="item?.banner" class="img-fluid" alt="banner" />
          </div>
  
          <div class="card-basic-body">
            <h3>{{item?.name}}</h3>
            <h6>{{item?.description}}</h6>
          </div>

          <ul class="card-basic-list pb-3 mt-auto border-top pt-4">
            <li class="card-basic-list-item">
                <i class="fa-solid fa-phone"></i>
                <span>{{item?.phone}}</span>
            </li>
            <li class="card-basic-list-item">
                <i class="fa-solid fa-location-dot"></i>
                <a [attr.href]="item?.location" target="_blank">خريطة المحافظة</a>
            </li>
            <li class="card-basic-list-item">
                <i class="fa-solid fa-laptop"></i>
                <a [attr.href]="item?.website" target="_blank">البوابة الإلكترونية للمحافظة</a>
            </li>
          </ul>
        </div>
      </div>
  </div>
</div>
