
<app-request-workflow-action previousUrl="/admin/eservice-admin/prisoners-services-admin-preview-step/">
  <form [formGroup]="adminActionForm" requestAction>
    <div class="form-card">
      <div class="form-header">
        <h5>اتخاذ القرار</h5>
      </div>
      <div class="form-content">
        <div class="row mx-0">
          <div class="form-group col-md-12">
            <label for="notes" class="form-lbl">الملاحظات<span class="danger">*</span></label>
            <textarea class="form-control" autocomplete="off" formControlName="notes" id="notes" [ngClass]="{
              invalid:
                (isFormSubmitted || adminActionForm.get('notes').touched) &&
                adminActionForm.get('notes').errors?.required
              }">
            </textarea>
            <small *ngIf="(isFormSubmitted || adminActionForm.get('notes').touched) && adminActionForm.get('notes').errors?.required"
                   class="danger">هذاالحقل مطلوب</small>
          </div>

        </div>
      </div>
    </div>
  </form>

  <button requestActionButtons type="button" class="btn btn-success" (click)="executeAction(approved)">الموافقة على الطلب</button>
  <button requestActionButtons type="button" class="btn btn-danger" (click)="executeAction(rejected)">رفض الطلب</button>
  <button requestActionButtons type="button" class="btn btn-secondary" (click)="executeAction(returned)">ارجاع الطلب الى المستفيد</button>
</app-request-workflow-action>
