<div class="ser-bg">
  <div class="ser-bread">
    <nav class="breadcrumb m-0 bg-transparent">
      <div class="container d-flex align-items-center">
        <a class="breadcrumb-item fs-16" [routerLink]="['/']"><i class="las la-home"></i>الرئيسية</a>
        <span class="breadcrumb-item fs-16 active">تفاصيل المناقصة</span>
      </div>
    </nav>
  </div>
</div>

<div class="container">
  <div class="row my-5">
    <div class="artical-content-wrapper">
      <div class="d-flex justify-content-center mb-5">
        <img *ngIf="auctionDetailsDto?.imageName" [src]="['/assets/images/uploads/auctions/'+auctionDetailsDto.imageName]" [alt]="auctionDetailsDto?.title" class="img-fluid" />
        <img *ngIf="!auctionDetailsDto?.imageName" src="assets/images/120.png" [alt]="auctionDetailsDto?.title" class="img-fluid" />
      </div>
      <div class="row">
        <div class="col-lg-10">
          <div class="my-2 ms-lg-1">
            <h4 class="artical-head">{{ auctionDetailsDto.title }}</h4>
            <p class="artical-text me-3" *ngIf="auctionDetailsDto?.content" [outerHTML]="auctionDetailsDto?.content | listString"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
