<div class="ser-bg">
  <div class="ser-bread">
    <nav class="breadcrumb m-0 bg-transparent">
      <div class="container d-flex align-items-center">
        <a class="breadcrumb-item fs-16" [routerLink]="['/']"><i class="las la-home"></i>الرئيسية</a>
        <span class="breadcrumb-item fs-16 active">الاستعلام عن المعاملات</span>
      </div>
    </nav>
  </div>
</div>

<div class="container py-5">
  <div class="serv-tabs">
    <!-- tabs -->
    <ul class="main-tabs nav nav-tabs mb-2" id="inquiriesTabs" role="tablist">
      <li class="nav-item w-100" role="presentation">
        <button class="nav-link active" id="inquiryTransactionNumber-tab" data-bs-toggle="tab"
                data-bs-target="#inquiryTransactionNumber" type="button" role="tab" aria-controls="inquiryTransactionNumber"
                aria-selected="true" (click)="showTransactionsSearch()">
          الإستعلام برقم المعاملة
        </button>
      </li>

      <li class="nav-item w-100" role="presentation">
        <button class="nav-link" id="inquiryLetterNumber-tab" data-bs-toggle="tab" data-bs-target="#inquiryLetterNumber"
                type="button" role="tab" aria-controls="inquiryLetterNumber" aria-selected="true" (click)="showLettersSearch()">
          الإستعلام برقم الخطاب
        </button>
      </li>

      <li class="nav-item w-100" role="presentation">
        <button class="nav-link" id="serviceDescription-tab" data-bs-toggle="tab" data-bs-target="#serviceDescription"
                type="button" role="tab" aria-controls="serviceDescription" aria-selected="true">
          وصف الخدمة
        </button>
      </li>
    </ul>

    <div class="tab-content" id="inquiriesTabsContent">
      <div class="tab-pane fade show active" id="inquiryTransactionNumber" role="tabpanel" aria-labelledby="inquiryTransactionNumber-tab">
        <div class="bg-white border rounded-4 mt-5 p-3">
          <app-transaction-search [years]="years" [currentYear]="currentYear"></app-transaction-search>
        </div>
      </div>

      <div class="tab-pane fade" id="inquiryLetterNumber" role="tabpanel" aria-labelledby="inquiryLetterNumber-tab">
        <div class="bg-white border rounded-4 mt-5 p-3">
          <app-letter-search [years]="years" [currentYear]="currentYear"></app-letter-search>
        </div>
      </div>

      <div class="tab-pane fade" id="serviceDescription" role="tabpanel" aria-labelledby="serviceDescription-tab">
        <div class="bg-white border rounded-4 mt-5 p-3">
          <div class="py-5">
            <p class="mb-0 fa-20 fw-normal">
              توفر هذه الخدمة امكانية الاستعلام المباشر عن المعاملات ، بدلاله رقم قيد المعاملة أو دلالة رقم صدور المعاملة، كما يمكن الاستعلام عن المعاملات الواردة بدلاله رقم الخطاب من الجهه الواردة منها، في حالة عدم صدور المعاملة لكونها تحت الإجراء يمكن تسجيل البريد الإلكتروني أو رقم الجوال ليتم اشعار المراجع حين صدور المعاملة برسالة إلكترونية أو رسالة جوال قصيرة تتضمن رقم الصادر وتاريخه والجهة الصادرة إليها.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
