::ng-deep label.ng-star-inserted{
    font-size: 0.85rem;
    font-weight: 400;
    color: #007889;
    display: inline-block;
    margin-bottom: 3px;
}

::ng-deep label.ng-star-inserted::after{
    content: "*";
    color: #d92531;
}

::ng-deep #date .form-group{
    padding-left: 0;
    padding-right: 0;
}
