<section class="services-section">
  <div class="services">
    <div class="row">
      <div class="col-md-3 side">
        <div class="sidebar px-3 pb-5">
          <h6 class=" mb-5 pb-3 pt-4 title">اختر فئة الخدمات المطلوبة</h6>

          <div class="form-group mb-4">
            <input type="checkbox" class="control">
            <label class="px-2 control-label">عرض كل الخدمات</label>
            <span class="services-provider">30</span>
          </div>

          <div class="form-group mb-4">
            <input type="checkbox" class="control">
            <label class="px-2 control-label">خدمات العقارات</label>
            <span class="services-provider">3</span>
          </div>

          <div class="form-group mb-4">
            <input type="checkbox" class="control">
            <label class="px-2 control-label">خدمات المرور</label>
            <span class="services-provider">5</span>
          </div>

          <div class="form-group mb-4">
            <input type="checkbox" class="control">
            <label class="px-2 control-label">خدمات الأحوال المدنية والجنائية</label>
            <span class="services-provider">4</span>
          </div>

          <div class="form-group mb-4">
            <input type="checkbox" class="control">
            <label class="px-2 control-label">خدمات السجناء</label>
            <span class="services-provider">7</span>
          </div>

          <div class="form-group mb-4">
            <input type="checkbox" class="control">
            <label class="px-2 control-label">خدمات الزواج</label>
            <span class="services-provider">4</span>
          </div>

          <div class="form-group mb-4">
            <input type="checkbox" class="control">
            <label class="px-2 control-label">خدمات أخري</label>
            <span class="services-provider">2</span>
          </div>

          <div class="form-group mb-4">
            <input type="checkbox" class="control">
            <label class="px-2 control-label">خدمات أخري</label>
            <span class="services-provider">2</span>
          </div>

          <div class="form-group mb-4">
            <input type="checkbox" class="control">
            <label class="px-2 control-label">خدمات أخري</label>
            <span class="services-provider">2</span>
          </div>

          <div class="form-group mb-4">
            <input type="checkbox" class="control">
            <label class="px-2 control-label">خدمات أخري</label>
            <span class="services-provider">2</span>
          </div>

          <div class="form-group mb-4">
            <input type="checkbox" class="control">
            <label class="px-2 control-label">خدمات أخري</label>
            <span class="services-provider">2</span>
          </div>

          <div class="form-group mb-4">
            <input type="checkbox" class="control">
            <label class="px-2 control-label">خدمات أخري</label>
            <span class="services-provider">2</span>
          </div>

          <div class="form-group mb-4">
            <input type="checkbox" class="control">
            <label class="px-2 control-label">خدمات أخري</label>
            <span class="services-provider">2</span>
          </div>

          <div class="form-group mb-4">
            <input type="checkbox" class="control">
            <label class="px-2 control-label">خدمات أخري</label>
            <span class="services-provider">2</span>
          </div>

          <div class="form-group mb-4">
            <input type="checkbox" class="control">
            <label class="px-2 control-label">خدمات أخري</label>
            <span class="services-provider">2</span>
          </div>

        </div>
      </div>

      <div class="col-md-9">
        <div class="compoenets">
          <div class="head px-3 mb-4">
            <img src="./assets/images/icons/services/system.svg" alt="system Icons" width="32" height="32">

            <span class="title mx-2">الخدمات الإلكترونية</span>
          </div>

          <div class="row mb-4">

            <div class="col-md-3 px-1 mb-3">
              <div class="card-item">
                <h5 class="title mb-5 d-flex align-items-center">
                  <img src="./assets/images/icons/services/prisoner.svg" alt="prisoner" style="width:25px;">
                  <span class="mx-2">
                    خدمات السجناء
                  </span>
                </h5>

                <p class="brief-description mb-5">خروج مؤقت لسجين للعلاج والتنويم</p>

                <p class="description h-3">تٌتيح لك الخدمات الإلكترونية إمكانية التقدم
                  بطلب لإمارة منطقة الرياض وذلك في
                  الزمان والمكان المناسب دون الحاجة إلى
                  تكبد عناء السفر من مكان إقامتك
                </p>

                <div class="service-link d-flex align-items-center">
                  <a [routerLink]="['/eservice/services/22']" class="px-3 "> شرح الخدمة</a>
                  <span class="arrow">
                    <img src="./assets/images/icons/services/green-arrow-left.svg" alt="green-arrow-left" style="width:14px;">
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-3 px-1 mb-3">
              <div class="card-item">
                <h5 class="title mb-5 d-flex align-items-center">
                  <img src="./assets/images/icons/services/prisoner.svg" alt="prisoner" style="width:25px;">
                  <span class="mx-2">
                    خدمات السجناء
                  </span>
                </h5>

                <p class="brief-description mb-5">خروج مؤقت لسجين للعلاج والتنويم</p>

                <p class="description h-3">تٌتيح لك الخدمات الإلكترونية إمكانية التقدم
                  بطلب لإمارة منطقة الرياض وذلك في
                  الزمان والمكان المناسب دون الحاجة إلى
                  تكبد عناء السفر من مكان إقامتك
                </p>

                <div class="service-link d-flex align-items-center">
                  <a [routerLink]="['/eservice/services/22']" class="px-3 "> شرح الخدمة</a>
                  <span class="arrow">
                    <img src="./assets/images/icons/services/green-arrow-left.svg" alt="green-arrow-left" style="width:14px;">
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-3 px-1 mb-3">
              <div class="card-item">
                <h5 class="title mb-5 d-flex align-items-center">
                  <img src="./assets/images/icons/services/prisoner.svg" alt="prisoner" style="width:25px;">
                  <span class="mx-2">
                    خدمات السجناء
                  </span>
                </h5>

                <p class="brief-description mb-5">خروج مؤقت لسجين للعلاج والتنويم</p>

                <p class="description h-3">تٌتيح لك الخدمات الإلكترونية إمكانية التقدم
                  بطلب لإمارة منطقة الرياض وذلك في
                  الزمان والمكان المناسب دون الحاجة إلى
                  تكبد عناء السفر من مكان إقامتك
                </p>

                <div class="service-link d-flex align-items-center">
                  <a [routerLink]="['/eservice/services/22']" class="px-3 "> شرح الخدمة</a>
                  <span class="arrow">
                    <img src="./assets/images/icons/services/green-arrow-left.svg" alt="green-arrow-left" style="width:14px;">
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-3 px-1 mb-3">
              <div class="card-item">
                <h5 class="title mb-5 d-flex align-items-center">
                  <img src="./assets/images/icons/services/prisoner.svg" alt="prisoner" style="width:25px;">
                  <span class="mx-2">
                    خدمات السجناء
                  </span>
                </h5>

                <p class="brief-description mb-5">خروج مؤقت لسجين للعلاج والتنويم</p>

                <p class="description h-3">تٌتيح لك الخدمات الإلكترونية إمكانية التقدم
                  بطلب لإمارة منطقة الرياض وذلك في
                  الزمان والمكان المناسب دون الحاجة إلى
                  تكبد عناء السفر من مكان إقامتك
                </p>

                <div class="service-link d-flex align-items-center">
                  <a [routerLink]="['/eservice/services/22']" class="px-3 "> شرح الخدمة</a>
                  <span class="arrow">
                    <img src="./assets/images/icons/services/green-arrow-left.svg" alt="green-arrow-left" style="width:14px;">
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-3 px-1 mb-3">
              <div class="card-item">
                <h5 class="title mb-5 d-flex align-items-center">
                  <img src="./assets/images/icons/services/prisoner.svg" alt="prisoner" style="width:25px;">
                  <span class="mx-2">
                    خدمات السجناء
                  </span>
                </h5>

                <p class="brief-description mb-5">خروج مؤقت لسجين للعلاج والتنويم</p>

                <p class="description h-3">تٌتيح لك الخدمات الإلكترونية إمكانية التقدم
                  بطلب لإمارة منطقة الرياض وذلك في
                  الزمان والمكان المناسب دون الحاجة إلى
                  تكبد عناء السفر من مكان إقامتك
                </p>

                <div class="service-link d-flex align-items-center">
                  <a [routerLink]="['/eservice/services/22']" class="px-3 "> شرح الخدمة</a>
                  <span class="arrow">
                    <img src="./assets/images/icons/services/green-arrow-left.svg" alt="green-arrow-left" style="width:14px;">
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-3 px-1 mb-3">
              <div class="card-item">
                <h5 class="title mb-5 d-flex align-items-center">
                  <img src="./assets/images/icons/services/prisoner.svg" alt="prisoner" style="width:25px;">
                  <span class="mx-2">
                    خدمات السجناء
                  </span>
                </h5>

                <p class="brief-description mb-5">خروج مؤقت لسجين للعلاج والتنويم</p>

                <p class="description h-3">تٌتيح لك الخدمات الإلكترونية إمكانية التقدم
                  بطلب لإمارة منطقة الرياض وذلك في
                  الزمان والمكان المناسب دون الحاجة إلى
                  تكبد عناء السفر من مكان إقامتك
                </p>

                <div class="service-link d-flex align-items-center">
                  <a [routerLink]="['/eservice/services/22']" class="px-3 "> شرح الخدمة</a>
                  <span class="arrow">
                    <img src="./assets/images/icons/services/green-arrow-left.svg" alt="green-arrow-left" style="width:14px;">
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-3 px-1 mb-3">
              <div class="card-item">
                <h5 class="title mb-5 d-flex align-items-center">
                  <img src="./assets/images/icons/services/prisoner.svg" alt="prisoner" style="width:25px;">
                  <span class="mx-2">
                    خدمات السجناء
                  </span>
                </h5>

                <p class="brief-description mb-5">خروج مؤقت لسجين للعلاج والتنويم</p>

                <p class="description h-3">تٌتيح لك الخدمات الإلكترونية إمكانية التقدم
                  بطلب لإمارة منطقة الرياض وذلك في
                  الزمان والمكان المناسب دون الحاجة إلى
                  تكبد عناء السفر من مكان إقامتك
                </p>

                <div class="service-link d-flex align-items-center">
                  <a [routerLink]="['/eservice/services/22']" class="px-3 "> شرح الخدمة</a>
                  <span class="arrow">
                    <img src="./assets/images/icons/services/green-arrow-left.svg" alt="green-arrow-left" style="width:14px;">
                  </span>
                </div>
              </div>
            </div>

          </div>


        </div>
      </div>
    </div>
  </div>
</section>