<section class="services-section">
  <div class="services">
    <div class="row">
      <div class="col-md-12">
        <div class="compoenets">
          <div class="head px-3 mb-4">
            <img src="./assets/images/icons/services/system.svg" alt="system Icons" width="32" height="32">
            <span class="title mx-2">الخدمات الإلكترونية</span>
          </div>
          <div class="row mb-4">
            <div class="col-md-3 px-1 mb-3" *ngFor="let service of services">
              <div class="card-item">
                <h5 class="title mb-5 d-flex align-items-center">
                  <img src="./assets/images/icons/services/prisoner.svg" alt="prisoner" style="width:25px;">
                  <span class="mx-2">{{service.titleAr}}</span>
                </h5>
                <p class="description h-3">{{service.descriptionAr}} </p>

                <div class="service-link d-flex align-items-center">
                  <a [routerLink]="['/eservice/services', service.id]" class="px-3 "> شرح الخدمة</a>
                  <span class="arrow">
                    <img src="./assets/images/icons/services/green-arrow-left.svg" alt="green-arrow-left" style="width:14px;">
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
