<div class="ser-bg">
  <div class="ser-bread">
    <nav class="breadcrumb m-0 bg-transparent">
      <div class="container d-flex align-items-center">
        <a class="breadcrumb-item fs-16" [routerLink]="['/']"><i class="las la-home"></i>الرئيسية</a>
        <span class="breadcrumb-item fs-16 active">سياسة الخصوصية</span>
      </div>
    </nav>
  </div>
</div>

<div class="container">
  <div class="row my-5">
    <div class="col-12">
      <div class="artical-content-wrapper">
        <ol class="artical-list me-3 mt-4">
          <div class="mb-4">
            <li class="artical-list-item fw-bold fa-22">سرية وخصوصية المعلومات :</li>
            <p class="fa-18 fw-normal mb-0">
              إن خصوصية البوابة الإلكترونية لإمارة منطقة الرياض ومستخدميها من الأمور التي نولي لها اهتماماً كبيراً
              ونعتبرها من الأمور الأساسية التي نحرص عليها، كما أننا نحترم ونحمي خصوصية جميع مستخدمي البوابة الإلكترونية
              لإمارة منطقة الرياض، لذلك فإننا لن نكشف أي معلومات لأي طرف ثالث إلا بعد الحصول على إذن مسبق منك.
            </p>
          </div>

          <div class="mb-4">
            <li class="artical-list-item fw-bold fa-22">
              البوابة الإلكترونية لإمارة منطقة الرياض وملفات تعريف الارتباط (Cookies) :
            </li>
            <p class="fa-18 fw-normal mb-2">
              عند زيارتك الأولى للبوابة الإلكترونية لإمارة منطقة الرياض، يرسل الموقع "ملف تعريف ارتباط cookie"، إلى جهاز
              الكمبيوتر لديك. "ملف تعريف ارتباط" وهو بيانات تعرّف عنك كمستخدم متميز عن غيره، وذلك لأجل أحد الأغراض
              التالية:
            </p>

            <ul class="pe-3 mb-2">
              <li class="fa-16 fw-normal mb-1">
                • تخزين المعلومات الشخصية التي تسجلها بنفسك من أجلك لتقديمها لك عند طلبها.
              </li>
              <li class="fa-16 fw-normal mb-1">
                • للتعرف عليك عند العودة إلى البوابة الإلكترونية لإمارة منطقة الرياض.
              </li>
              <li class="fa-16 fw-normal mb-1">
                • لمساعدتك على الحصول على الرسائل والملتيميديا أو الخدمات الموجودة بالبوابة الإلكترونية لإمارة منطقة
                الرياض في أسرع وقت.
              </li>
              <li class="fa-16 fw-normal mb-1">
                • لمساعدة البوابة الإلكترونية لإمارة منطقة الرياض في تحديد المحتويات التي تناسبك وتقديمها لك.
              </li>
            </ul>

            <p class="fa-18 fw-normal mb-0">
              ولن يكشف موقع البوابة الإلكترونية لإمارة منطقة الرياض ملفات تعريف الارتباط إلى أي طرف ثالث إلا إذا استلزم
              إجراء قضائي ذلك، مثل مذكرة تفتيش، مذكرة جلب، قانون شرعي، أو أمر من المحكمة.
              عندما تستعمل متصفحك لأول مرة، ستجد في معظم الحالات أن خيارات الإعداد فيه تقبل ملفات تعريف الارتباط. ويمكنك
              أن تغير ذلك في متصفحك وتجعله يرفض كل ملفات تعريف الارتباط أو ينبّهك حين تُرسَل ملف تعريف ارتباط إليك. ولكن
              اعرف أن بعض أجزاء خدمات البوابة الإلكترونية لإمارة منطقة الرياض قد لا تعمل بشكل جيد إذا كان متصفحك يرفض
              ملفات تعريف الارتباط.
            </p>
          </div>

          <div class="mb-4">
            <li class="artical-list-item fw-bold fa-22">
              نوعية المعلومات التي تجمع عنك :
            </li>
            <p class="fa-18 fw-normal mb-0">
              لا نقوم في البوابة الإلكترونية لإمارة منطقة الرياض بجمع أي معلومات خاصة بك (مثل اسمك وعنوان بريدك
              الإلكتروني، إلخ) إلا عندما تقوم أنت بنفسك وبعِلم منك بتزويدنا بهذه المعلومات. والمعلومات التي يسجلها
              البوابة
              الإلكترونية لإمارة منطقة الرياض ويحفظها هي معلومات مثل الوقت الذي تتصفح به ونوع المتصفح ولغتة وعنوان
              الايبي
              (IP) الخاص بك، وتُستعمل هذه المعلومات للتثبت من سجلاتنا وتوفير خدمات أفضل لمستخدمي البوابة الإلكترونية
              لإمارة منطقة الرياض، فمثلاً قد نستعمل عنوان الايبي (IP) الخاص بك لتظهر لك إعلانات موجهة إلى بلدك.
            </p>
          </div>

          <div class="mb-4">
            <li class="artical-list-item fw-bold fa-22">
              محتوى البوابة الإلكترونية لإمارة منطقة الرياض :
            </li>
            <p class="fa-18 fw-normal mb-0">
              تحتوي البوابة الإلكترونية لإمارة منطقة الرياض على روابط ومؤشرات متصلة بمواقع الشبكة العالمية. كما أن
              الروابط
              المتوجهة إلى البوابة الإلكترونية لإمارة منطقة الرياض أو الخارجة منه نحو مواقع أخرى، لا تعتبر مصادق عليها
              من
              قبل البوابة الإلكترونية لإمارة منطقة الرياض ولا من أي من تابعيه أو فروعه أو أي طرف ثالث من مصادره أو أي من
              محتوياته. ولا يمثل البوابة الإلكترونية لإمارة منطقة الرياض أو تصادق على صحة أو مشروعية أي نصح أو رأي أو
              تقرير أو أي معلومات تعرض أو تنشر من خلال البوابة الإلكترونية لإمارة منطقة الرياض. وبناء على ذلك، فإنكم
              تقرون
              بأنكم تتحملون المسئولية الكاملة في حال الاعتماد على مثل هذا النصح أو التقرير أو التذكير أو هذه المعلومات.
              وللبوابة الإلكترونية لإمارة منطقة الرياض الحق مع جميع التحفظات في تصحيح أي خطأ أو حذف لأي جزء من الموقع لا
              يراجع البوابة الإلكترونية لإمارة منطقة الرياض ولا يمكنه أن يراجع كل المواد المرسلة إلى موقعه من طرف
              مستخدمي
              الموقع، وبالتالي فإن البوابة الإلكترونية لإمارة منطقة الرياض ليس مسؤولاً عن أية مادة من المواد المرسلة
              إليه
              من قبل مستعملي الموقع . غير أن البوابة الإلكترونية لإمارة منطقة الرياض يحتفظ بحقه، تحت أي ظرف من الظروف،
              في
              إبداء أية معلومات ضرورية نظراً لأي سبب قانوني أو تنظيمي أو حكومي، وللبوابة الإلكترونية لإمارة منطقة الرياض
              كامل الحق في تحرير أو رفض إرسال أو حذف أي معلومات أو مواد، كاملة أو جزئية، يعتبرها موقع المجلس منافية لهذا
              الاتفاق أو منتهكة له.
            </p>
          </div>

          <div class="mb-4">
            <li class="artical-list-item fw-bold fa-22">
              موافقتك والتغييرات في سياسة الخصوصية :
            </li>
            <p class="fa-18 fw-normal mb-0">
              إن تصفحك واستخدامك لخدمات البوابة الإلكترونية لإمارة منطقة الرياض يعني بأنك موافق على جمع المعلومات عنك
              واستعمالها كما هو مذكور في هذه السياسة وفي اتفاقية الاستخدام. وقد نقوم في البوابة الإلكترونية لإمارة منطقة
              الرياض بإجراء تغيرات في سياسة الخصوصية أو اتفاقية الاستخدام من حين إلى آخر. وعندما نقوم بذلك سنضع تلك
              التغييرات على هذه الصفحة أو صفحة شروط الاستخدام لكي تكون أنت دائما على علم بنوع المعلومات التي نجمعها
              وكيفية
              استخدامنا لها وفي أية ظروف نكشف عنها.
            </p>
          </div>
        </ol>
      </div>
    </div>
  </div>
</div>
