<div class="d-lg-flex justify-content-between align-items-center bread-container">
  <nav class="breadcrumb m-0 bg-transparent">
    <a class="breadcrumb-item fs-16" [routerLink]="['/']"><i class="las la-home fs-20"></i>الرئيسية</a>
    <a class="breadcrumb-item fs-16" [routerLink]="['/eservice/services-list']">قائمة الخدمات</a>
    <span class="breadcrumb-item fs-16 active">تفاصيل خدمة</span>
  </nav>
</div>

<section class="service-details">
  <div class="page-head">
    <h2 class="title px-3">{{serviceDetailsDto?.nameAr}}</h2>
    <button type="button" class="btn mx-3">
      <a [routerLink]="serviceDetailsDto?.requestLink" class="btn start-ser px-2">إبدأ الخدمة
        <img src="./assets/images/icons/services/arrowTwo.svg" alt="" width="15" class="mx-1">
      </a>
    </button>
  </div>
  <div class="row my-4">
    <div class="col-md-9 position-relative">
      <div class="serv-tabs">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
              معلومات عن الخدمة
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
              مخطط سير الخدمة
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">
              شرح الخدمة
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="conditions-tab" data-bs-toggle="tab" data-bs-target="#conditions" type="button" role="tab" aria-controls="contact" aria-selected="false">
              شروط ووثائق الخدمة
            </button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <span class="title">القطاع</span>
            <span class="desc">{{serviceDetailsDto?.sectorAr}}</span>

            <span class="title">وصف الخدمة</span>
            <span class="desc">{{serviceDetailsDto?.descriptionAr}}</span>
            <!--<span class="title">خدمة العملاء</span>
            <div class="box-shadow p-3 customer-details">
              <div class="row-details">
                <span class="icon">
                  <img src="./assets/images/icons/ser-details/map.svg" alt="">
                </span>
                <span class="key">الموقع</span>
                <span class="value">الاطلاع على الموقع</span>
              </div>
              <div class="row-details">
                <span class="icon">
                  <img src="./assets/images/icons/ser-details/call.svg" alt="">
                </span>
                <span class="key">رقم الهاتف</span>
                <span class="value">00966114771100 - 992 - 011-4057000</span>
              </div>
              <div class="row-details">
                <span class="icon">
                  <img src="./assets/images/icons/ser-details/mail.svg" alt="">
                </span>
                <span class="key">البريد الإلكتروني</span>
                <span class="value">jawazat.gov@gov.moe.sa</span>
              </div>
              <div class="row-details">
                <span class="icon">
                  <img src="./assets/images/icons/ser-details/time.svg" alt="">
                </span>
                <span class="key">ساعات العمل</span>
                <span class="value">09:00 ص - 06:00 م</span>
              </div>
              <div class="row-details">
                <span class="icon">
                  <img src="./assets/images/icons/ser-details/comment.svg" alt="">
                </span>
                <span class="key">الشكاوي والإقتراحات</span>
                <span class="value">تواصل مع فريق الدعم</span>
              </div>

            </div>-->
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="flow">
              <div class="flow-card">
                <span class="step-icon">
                  <img src="./assets/images/icons/flow/step1.svg" alt="" style="width: 24px;">
                </span>
                <span class="step-desc"> سجل دخول على بوابة إمارة منطقة الرياض</span>
                <span class="step-bullet"></span>
                <span class="step-num">1</span>
              </div>
              <div class="flow-card">
                <span class="step-icon">
                  <img src="./assets/images/icons/flow/step2.svg" alt="" style="width: 24px;">
                </span>
                <span class="step-desc">اذهب إلى جميع الخدمات من قائمة الخدمات الإلكترونية</span>
                <span class="step-bullet"></span>
                <span class="step-num">2</span>
              </div>
              <div class="flow-card">
                <span class="step-icon">
                  <img src="./assets/images/icons/flow/step3.svg" alt="" style="width: 24px;">
                </span>
                <span class="step-desc">اختر خدمة {{serviceDetailsDto?.nameAr}}</span>
                <span class="step-bullet"></span>
                <span class="step-num">3</span>
              </div>
              <div class="flow-card">
                <span class="step-icon">
                  <img src="./assets/images/icons/flow/step4.svg" alt="" style="width: 24px;">
                </span>
                <span class="step-desc">أدخل جميع البيانات المطلوبة وقدّم الطلب</span>
                <span class="step-bullet"></span>
                <span class="step-num">4</span>
              </div>
              <div class="flow-card">
                <span class="step-icon">
                  <img src="./assets/images/icons/flow/step5.svg" alt="" style="width: 24px;">
                </span>
                <span class="step-desc">بعد التقديم على الخدمة سيتم إشعاركم برقم المعاملة بعد تسليم الطلب</span>
                <span class="step-bullet"></span>
                <span class="step-num">5</span>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

            <div class="py-4">
              <span class="desc" style="font-weight: 600;">
                شرح خدمة {{serviceDetailsDto?.nameAr}}
              </span>
              <div class="mt-4" style="zoom: .7;">
                <img src="./assets/images/icons/flow/video.svg" alt="">
              </div>
            </div>

          </div>
          <div class="tab-pane fade" id="conditions" role="tabpanel" aria-labelledby="conditions-tab">
            <div class="py-4">
              <!-- Terms -->
              <div class="term-row">
                <span class="term-num">1</span>
                <span class="term-desc">سداد رسوم الخدمة من هنا: 300 ريال لـ 5 سنوات و600 ريال لـ 10 سنوات</span>
              </div>
              <!-- Terms -->
              <div class="term-row">
                <span class="term-num">2</span>
                <span class="term-desc">سداد المخالفات المرورية على صاحب الجواز المراد الإصدار له إن وجدت</span>
              </div>
              <!-- Terms -->
              <div class="term-row">
                <span class="term-num">3</span>
                <span class="term-desc">وجود بصمة وصورة للمواطن/المواطنة المراد الإصدار له</span>
              </div>
              <!-- Terms -->
              <div class="term-row">
                <span class="term-num">4</span>
                <span class="term-desc">تواجد المواطن المراد إصدار الجواز له داخل الأراضي السعودية أثناء طلب الجواز</span>
              </div>
              <!-- Terms -->
              <div class="term-row">
                <span class="term-num">5</span>
                <span class="term-desc">عدم وجود جواز سفر للمواطن المراد إصدار الجواز له، بشرط ألا يكون مرافقاً لأحد بجواز سفر</span>
              </div>
              <!-- Terms -->
              <div class="term-row">
                <span class="term-num">6</span>
                <span class="term-desc">خدمة إصدار جواز السفر السعودي تشمل المواطن (أعزب/ رب أسرة). ويمكن لرب الأسرة الإصدار لأفراد الأسرة ممن هم دون 21 عاما</span>
              </div>
              <!-- Terms -->
              <div class="term-row">
                <span class="term-num">7</span>
                <span class="term-desc">المزيد من التفاصيل في: دليل استخدام خدمات منصة أبشر</span>
              </div>
            </div>
          </div>
        </div>

        <!-- Listen or Print -->
        <div class="listen-print">
          <button class="btn mx-1">
            <img src="./assets/images/icons/listen.svg" alt="" style="width: 16px;"> إستماع
          </button>
          <button class="btn mx-1">
            <img src="./assets/images/icons/print.svg" alt="" style="width: 20px;"> طباعة
          </button>
        </div>
      </div>

      <!-- Survey -->
      <div class="survey">
        <div>
          <hr>
        </div>
        <div class="d-lg-flex justify-content-between align-items-center">
          <div>
            <span class="question">هل استفدت من المعلومات المقدمة في هذه الصفحة؟</span>
            <button class="btn-vote">نعم</button>
            <span class="d-inline-block mx-2">|</span>
            <button class="btn-vote">لا</button>
          </div>
          <div class="liked">
            <span>1119</span>
            <span>من الزوار أعجبهم محتوى الصفحة من أصل <span>1410</span> مشاركة</span>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-3">
      <div class="sidebar ">
        <div class="toast-detail">
          <h4 class="title ">الجمهور المستهدف</h4>

          <div class="group ">
            <img src="./assets/images/icons/details/15-Checked.svg" alt="15-Checked" width="20">
            <span class="service">أفراد</span>
          </div>

          <div class="group">
            <img src="./assets/images/icons/details/15-Checked.svg" alt="15-Checked" width="20">
            <span class="service">جهات حكومية</span>
          </div>

          <div class="group ">
            <img src="./assets/images/icons/details/15-Checked.svg" alt="15-Checked" width="20">
            <span class="service">قطاع الأعمال</span>
          </div>

          <div class="group">
            <img src="./assets/images/icons/details/15-Checked.svg" alt="15-Checked" width="20">
            <span class="service">الجمعيات التطوعية</span>
          </div>

        </div>

        <div class="toast-detail">
          <h4 class="title ">المدة الزمنية لإنجاز الخدمة عبر جميع القنوات</h4>

          <div class="group ">
            <img src="./assets/images/icons/details/feather-clock.svg" alt="feather-clock" width="16">
            <span class="service ">20 - 15</span>
            <span class="service mx-1">يوم</span>
          </div>
        </div>

        <div class="toast-detail">
          <h4 class="title ">تكلفة الخدمة</h4>

          <div class="group ">
            <img src="./assets/images/icons/details/feather-check-circle.svg" alt="feather-check-circle.svg" width="16">
            <span class="service">مجانا</span>
          </div>
        </div>

        <div class="toast-detail pl-0 ">
          <h4 class="title ">تقييم الخدمة</h4>

          <table class="table-e ">

            <tr class="row mx-0">
              <td class="col-4 ">التقييم</td>
              <td class="col-8 ">
                <img src="./assets/images/icons/details/ionic-ios-star2.svg" alt="ionic-ios-star2" width="17">
                <img src="./assets/images/icons/details/ionic-ios-star2.svg" alt="ionic-ios-star2" width="17">
                <img src="./assets/images/icons/details/ionic-ios-star2.svg" alt="ionic-ios-star2" width="17">
                <img src="./assets/images/icons/details/ionic-ios-star2.svg" alt="ionic-ios-star2" width="17">
                <img src="./assets/images/icons/details/ionic-ios-star.svg" alt="ionic-ios-star" width="17">
                <span class="service mx-2">4.4</span>
              </td>
            </tr>

            <tr class="row mx-0">
              <td class="col-4 ">آخر تقييم</td>
              <td class="col-8 ">

                <span class="service mx-2">25/07/1443</span>
                <span class="service ">09:11</span>
                <span class="service ">ص</span>
              </td>
            </tr>

            <tr class="row mx-0">
              <td class="col-4 ">مجموع التقييم</td>
              <td class="col-8 ">

                <span class="service mx-2">جيد جداً</span>
              </td>
            </tr>

            <tr class="row mx-0">
              <td class="col-4 ">عدد المقيمين</td>
              <td class="col-8 ">

                <span class="service mx-2">1938</span>
              </td>
            </tr>


          </table>

        </div>

      </div>
    </div>
  </div>
</section>
