<!-- breadcrumb -->
<div class="ser-bg">
  <div class="ser-bread">
    <nav class="breadcrumb m-0 bg-transparent">
      <a class="breadcrumb-item fs-16" [routerLink]="['/']"><i class="las la-home"></i>الرئيسية</a>
      <span class="breadcrumb-item fs-16 active">القسم النسوى</span>
    </nav>
  </div>
</div>

<div class="container">
  <div class="row my-5">
    <div class="col-12">
      <div class="artical-content-wrapper mb-5">
        <h4 class="artical-head">
          حرصاً من إمارة منطقة الرياض على تقديم أفضل الخدمات لمراجعيها ، فقد تم تأسيس قسم نسائي خاص لكي يخدم شريحة كبيرة
          من المستفيدات
        </h4>

        <h6 class="artical-title me-3">
          حيث يعمل القسم بإدارة وجهد كوادر نسائية وطنية مؤهلة وبالقدر الذي يمنحهم الفرصة لتطبيق الأنظمة والإجراءات
          الخاصة بإمارة منطقة الرياض ، وذلك لتحقيق رضا المستفيدات وحفاظاً وخدمة للمرأة وخصوصيتها
        </h6>
      </div>

      <div class="artical-content-wrapper">
        <h4 class="artical-head mb-3">
          ويقدم القسم العديد من الخدمات في مجالات عديدة منها:
        </h4>

        <ol class="artical-list me-3 mt-4">
          <li class="artical-list-item">
            حقوق المواطنات الخاصة من مطالبات عائلية وقضايا الأحوال الشخصية والاثباتات والمنازعات المالية
          </li>
          <li class="artical-list-item">
            طلبات الزواجات (زواج السعودية من أجنبي ) أو (الأجنبية من سعودي) .
          </li>
          <li class="artical-list-item">
            حوادث الاعتداء على النفس والأموال والأخلاق والقضايا المخلة بالآداب والعبث بأنظمة الدولة و إساءة استخدام
            السلطة
          </li>
          <li class="artical-list-item">
            متابعة إجراءات العفو ومتابعة قضايا المساجين بشكل عام
          </li>
          <li class="artical-list-item">
            قضايا المخدرات من علاج المتعاطي أو الابلاغ عن مروجين
          </li>
          <li class="artical-list-item">
            أوامر العلاج من بعض المستشفيات الحكومية
          </li>
          <li class="artical-list-item">
            تقديم أوامر علاج الصحة النفسية وتصاريح إقامة الحفلات والبرامج وقبول الأبناء بالمدارس ممن لا يملك إثباتات
          </li>
          <li class="artical-list-item">
            متابعة جميع المعاملات المحولة للإمارة من الدوائر الحكومية الأخرى أو التي تم تقديمها في القسم
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>