<!-- breadcrumb and add Button -->
<div class="d-lg-flex justify-content-between align-items-center bread-container">
  <nav class="breadcrumb m-0 p-0 bg-transparent">
    <a class="breadcrumb-item fs-16" routerLink="/">
      <i class="fa fa-home fs-20"></i>
      الرئيسية
    </a>
    <a class="breadcrumb-item fs-16" [routerLink]="['/admin/data-management/latest-news-list']">
      آخر الأخبار
    </a>
    <span class="breadcrumb-item fs-16 active">تفاصيل الخبر</span>
  </nav>
</div>

<form>
  <div class="form-card">
    <div class="form-header">
      <h5>تفاصيل الخبر</h5>
    </div>
    <div class="form-content">
      <div class="row mx-0">
        <!-- TitleAr -->
        <div class="info-col col-md-4 col-12">
          <span class="form-lbl lbl-33">العنوان باللغة العربية</span>
          <span class="form-val">{{ detailsVM?.titleAr }}</span>
        </div>
        <!-- TitleEn -->
        <div class="info-col col-md-4 col-12 separator-af-be">
          <span class="form-lbl lbl-33">العنوان باللغة الإنجليزية</span>
          <span class="form-val">{{ detailsVM?.titleEn }}</span>
        </div>
        <!-- DescriptionAr -->
        <div class="info-col col-md-4 col-12">
          <span class="form-lbl lbl-33">الوصف باللغة العربية</span>
          <span class="form-val">{{ detailsVM?.descriptionAr }}</span>
        </div>
        <!-- DescriptionEn -->
        <div class="info-col col-md-4 col-12">
          <span class="form-lbl lbl-33">الوصف باللغة الإنجليزية</span>
          <span class="form-val">{{ detailsVM?.descriptionEn }}</span>
        </div>
        <!-- Date -->
        <div class="info-col col-md-4 col-12 separator-af-be">
          <span class="form-lbl lbl-33">التاريخ</span>
          <span class="form-val">{{
            detailsVM?.date | date: "dd-MM-yyyy"
            }}</span>
        </div>
        <!-- isActive -->
        <div class="info-col col-md-4 col-12">
          <span class="form-lbl lbl-33">الحالة</span>
          <span class="form-val">{{
            detailsVM?.isActive ? "مفعل" : "غير مفعل"
            }}</span>
        </div>
        <!-- image -->
        <div class="info-col col-md-4 col-12">
          <span class="form-lbl lbl-33">الصورة</span>
          <span class="form-val">
            <img [src]="oldImage?.base64File" alt="" style="width: 180px" />
          </span>
        </div>
      </div>
    </div>
  </div>
</form>
