<div class="d-lg-flex justify-content-between align-items-center bread-container">
  <nav class="breadcrumb m-0 p-0 bg-transparent">
    <a class="breadcrumb-item fs-16" routerLink="/admin/home"><i class="las la-home fs-20"></i>الرئيسية</a>
    <a class="breadcrumb-item fs-16" [routerLink]="['/admin/data-management/governorate-news-ar-list']">أخبار المحافظات
      عربي</a>
    <span class="breadcrumb-item fs-16 active">تفاصيل الخبر</span>
  </nav>
</div>

<div class="main-card">
  <div class="border-bottom mb-4 pb-4 mt-3">
    <h5 class="mb-0">تفاصيل الخبر</h5>
  </div>
  <div class="form-content">
    <div class="row">
      <div class="col-md-6 mb-4">
        <h6 class="fa-14 fw-bold mb-2">عنوان الخبر</h6>
        <p class="fa-14 mb-0 text-muted fw-normal">{{ newsDetailsDto?.title }}</p>
      </div>
      <div class="col-md-6 mb-4">
        <h6 class="fa-14 fw-bold mb-2">مصدر الخبر</h6>
        <p class="fa-14 mb-0 text-muted fw-normal">{{ newsDetailsDto?.newsOrigin }}</p>
      </div>
      <div class="col-md-6 mb-4 separator-af-be">
        <h6 class="fa-14 fw-bold mb-2">التاريخ</h6>
        <p class="fa-14 mb-0 text-muted fw-normal">{{ newsDetailsDto?.date | date: "dd-MM-yyyy" }}</p>
      </div>
      <div class="col-md-6 mb-4">
        <h6 class="fa-14 fw-bold mb-2">الحالة</h6>
        <p class="fa-14 mb-0 text-muted fw-normal">{{ newsDetailsDto?.isActive ? "مفعل" : "غير مفعل" }}</p>
      </div>
      <div class="col-md-10 mb-4">
        <h6 class="fa-14 fw-bold mb-2">محتوى الخبر</h6>
        <p class="fa-14 mb-0 text-muted fw-normal" *ngIf="newsDetailsDto?.content"
          [outerHTML]="newsDetailsDto?.content | listString"></p>
      </div>

      <div class="col-md-6 mb-4" *ngIf="newsDetailsDto?.imageName">
        <img [src]="['/assets/images/uploads/news/'+newsDetailsDto?.imageName]" [alt]="newsDetailsDto?.title"
          class="imag-fluid rounded-4" style="height: 200px;" />
      </div>
    </div>
  </div>
</div>

<div class="form-actions">
  <a [routerLink]="['/admin/data-management/governorate-news-ar-list']" class="btn btn-secondary">رجوع</a>
</div>
