<nav class="navbar navbar-expand-lg fixed-top d-flex justify-content-between box-shadow-2 px-lg-4 px-2 py-0">
  <div class="d-flex justify-content-between align-items-center">
    <div class="bar">
      <a class="icon-toggle-side-menu primary-text fs-15 cursor-pointer">
        <i class="fa fa-bars fs-30 primary-text"></i>
      </a>
    </div>
    <a href="/admin/" class="navbar-brand p-0">
      <div class="d-flex align-items-center">
        <img src="assets/images/logo.svg" style="width: 58%" />
      </div>
    </a>
  </div>
  <ul class="d-flex justify-content-between align-items-center list-unstyled mb-0">
    <li class="nav-item dropdown mx-5 profile-dropdown">
      <div class="nav-link dropdown-toggle p-0 primary-text cursor-pointer" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="d-flex align-items-center prrof">
          <img src="/assets/images/businessman.png" width="30" height="30" alt="" class="rounded-circle mx-2 align-bottom" style="background-color: #5bbaa5" />
          <div>
            <p class="fs-15 mb-0">{{ userInfo?.shortNameAr }}</p>
          </div>
        </div>
      </div>
      <div class="dropdown-menu p-0 border-0 box-shadow-1 py-2" aria-labelledby="navbarDropdown">
        <a routerLink="/" class="dropdown-item d-flex justify-content-start align-items-center py-0 cursor-pointer">
          <span class="menu-icon rounded-circle text-center mx-2">
            <i class="fa fa-home primary-text"></i>
          </span>
          <span class="fs-13 text-right">الصفحة الرئيسية</span>
        </a>
        <a class="dropdown-item d-flex justify-content-start align-items-center py-0 cursor-pointer">
          <span class="menu-icon rounded-circle text-center mx-2">
            <i class="fa fa-user primary-text"></i>
          </span>
          <span class="fs-13 text-right">الملف الشخصي</span>
        </a>
        <a (click)="logOut()" class="dropdown-item d-flex justify-content-start align-items-center py-0 cursor-pointer">
          <span class="menu-icon rounded-circle text-center mx-2">
            <i class="fa fa-sign-out-alt primary-text"></i>
          </span>
          <span class="fs-13 text-right">تسجيل خروج</span>
        </a>
      </div>
    </li>
  </ul>
</nav>
