<div class="d-lg-flex justify-content-between align-items-center bread-container">
  <nav class="breadcrumb m-0 p-0 bg-transparent">
    <a class="breadcrumb-item fs-16" routerLink="/admin/home"><i class="las la-home fs-20"></i>الرئيسية</a>
    <a class="breadcrumb-item fs-16" [routerLink]="['/admin/data-management/nationality-list']">الجنسيات</a>
    <span class="breadcrumb-item fs-16 active">تعديل بيانات الجنسية</span>
  </nav>
</div>
<form [formGroup]="updateNationalityForm" (ngSubmit)="onSubmit()">
  <div class="form-card">
    <div class="form-header">
      <h5>تعديل بيانات الجنسية</h5>
    </div>
    <div class="form-content">
      <div class="row mx-0">
        <div class="form-group col-md-6">
          <label for="nameAr" class="form-lbl">الاسم عربي<span class="danger">*</span></label>
          <input type="text" class="form-control" autocomplete="off" formControlName="nameAr" id="nameAr" [ngClass]="{
              invalid: (isFormSubmitted || updateNationalityForm.get('nameAr').touched) &&
                updateNationalityForm.get('nameAr').errors?.required}" />
          <small *ngIf="(isFormSubmitted || updateNationalityForm.get('nameAr').touched) && updateNationalityForm.get('nameAr').errors?.required"
                 class="danger">هذاالحقل مطلوب</small>
        </div>
        <div class="form-group col-md-6">
          <label for="nameEn" class="form-lbl">الاسم انجليزي<span class="danger">*</span></label>
          <input type="text" class="form-control" autocomplete="off" formControlName="nameEn" id="nameEn" [ngClass]="{
              invalid: (isFormSubmitted || updateNationalityForm.get('nameEn').touched) &&
                updateNationalityForm.get('nameEn').errors?.required}" />
          <small *ngIf="(isFormSubmitted || updateNationalityForm.get('nameEn').touched) && updateNationalityForm.get('nameEn').errors?.required"
                 class="danger">هذاالحقل مطلوب</small>
        </div>
        <div class="form-group col-md-6">
          <label for="code" class="form-lbl">كود الجنسية</label>
          <input type="text" class="form-control" autocomplete="off" formControlName="code" id="code" />
        </div>
        <div class="form-group col-md-6">
          <label for="iso2" class="form-lbl">الاختصار</label>
          <input type="text" class="form-control" autocomplete="off" formControlName="iso2" id="iso2" />
        </div>
        <div class="form-group col-md-6">
          <label for="dialCode" class="form-lbl">مفتاح الاتصال</label>
          <input type="text" class="form-control" autocomplete="off" formControlName="dialCode" id="dialCode" />
        </div>
        <div class="form-group col-6">
          <label class="container-check">
            فعال
            <input formControlName="isActive" type="checkbox" id="isActive" />
            <span class="checkmark"></span>
          </label>
        </div>

      </div>
    </div>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-save">حفظ</button>
    <a [routerLink]="['/admin/data-management/nationality-list']" class="btn btn-cancel">رجوع</a>
  </div>
</form>
