<div class="d-lg-flex justify-content-between align-items-center bread-container">
  <nav class="breadcrumb m-0 p-0 bg-transparent">
    <a class="breadcrumb-item fs-16" routerLink="/admin/home"><i class="las la-home fs-20"></i>الرئيسية</a>
    <a class="breadcrumb-item fs-16" [routerLink]="['/admin/data-management/service-list']">الخدمات</a>
    <span class="breadcrumb-item fs-16 active">تعديل الخدمة</span>
  </nav>
</div>

<form [formGroup]="updateServiceForm" (ngSubmit)="onSubmit()">
  <div class="form-card">
    <div class="form-header" style="border-bottom: 0px !important;">
      <h5 class="mb-5">تعديل الخدمة</h5>

      <p-steps [model]="wizardItems" [(activeIndex)]="activeIndex"></p-steps>
    </div>
    <div class="form-content">
      <div class="row mx-0">
        <div class="form-group col-md-6">
          <label for="nameAr" class="form-lbl">الاسم عربي<span class="danger">*</span></label>
          <input type="text" class="form-control" autocomplete="off" formControlName="nameAr" maxlength="256" id="nameAr" [ngClass]="{
              invalid:
                (isFormSubmitted || updateServiceForm.get('nameAr').touched) &&
                updateServiceForm.get('nameAr').errors?.required
            }" />
          <small *ngIf="(isFormSubmitted || updateServiceForm.get('nameAr').touched) && updateServiceForm.get('nameAr').errors?.required" class="danger">هذاالحقل مطلوب</small>
        </div>
        <div class="form-group col-md-6">
          <label for="nameEn" class="form-lbl">الاسم انجليزي<span class="danger">*</span></label>
          <input type="text" class="form-control" autocomplete="off" formControlName="nameEn" maxlength="256" id="nameEn" [ngClass]="{
              invalid:
                (isFormSubmitted || updateServiceForm.get('nameEn').touched) &&
                updateServiceForm.get('nameEn').errors?.required
            }" />
          <small *ngIf="(isFormSubmitted || updateServiceForm.get('nameEn').touched) && updateServiceForm.get('nameEn').errors?.required" class="danger">هذاالحقل مطلوب</small>
        </div>
        <div class="form-group col-md-6">
          <label for="sectorAr" class="form-lbl">القطاع عربي<span class="danger">*</span></label>
          <input type="text" class="form-control" formControlName="sectorAr" maxlength="256" id="sectorAr" [ngClass]="{
              invalid:
                (isFormSubmitted || updateServiceForm.get('sectorAr').touched) &&
                updateServiceForm.get('sectorAr').errors?.required
            }" />
          <small *ngIf="(isFormSubmitted || updateServiceForm.get('sectorAr').touched) && updateServiceForm.get('sectorAr').errors?.required" class="danger">هذاالحقل مطلوب</small>
        </div>
        <div class="form-group col-md-6">
          <label for="sectorEn" class="form-lbl">القطاع إنجليزي<span class="danger">*</span></label>
          <input type="text" class="form-control" formControlName="sectorEn" maxlength="256" id="sectorEn" [ngClass]="{
              invalid:
                (isFormSubmitted || updateServiceForm.get('sectorEn').touched) &&
                updateServiceForm.get('sectorEn').errors?.required
            }" />
          <small *ngIf="(isFormSubmitted || updateServiceForm.get('sectorEn').touched) && updateServiceForm.get('sectorEn').errors?.required" class="danger">هذاالحقل مطلوب</small>
        </div>
        <div class="form-group col-md-6">
          <label for="descriptionAr" class="form-lbl">الوصف عربي<span class="danger">*</span></label>
          <textarea rows="4" class="form-control" formControlName="descriptionAr" maxlength="4000" id="descriptionAr" [ngClass]="{
              invalid:
                (isFormSubmitted || updateServiceForm.get('descriptionAr').touched) &&
                updateServiceForm.get('descriptionAr').errors?.required
            }"></textarea>
          <small *ngIf="(isFormSubmitted || updateServiceForm.get('descriptionAr').touched) && updateServiceForm.get('descriptionAr').errors?.required" class="danger">هذاالحقل مطلوب</small>
        </div>
        <div class="form-group col-md-6">
          <label for="descriptionEn" class="form-lbl">الوصف إنجليزي<span class="danger">*</span></label>
          <textarea rows="4" class="form-control" formControlName="descriptionEn" maxlength="4000" id="descriptionEn" [ngClass]="{
              invalid:
                (isFormSubmitted || updateServiceForm.get('descriptionEn').touched) &&
                updateServiceForm.get('descriptionEn').errors?.required
            }"></textarea>
          <small *ngIf="(isFormSubmitted || updateServiceForm.get('descriptionEn').touched) && updateServiceForm.get('descriptionEn').errors?.required" class="danger">هذاالحقل مطلوب</small>
        </div>
        <div class="form-group col-md-6">
          <label for="requestLink" class="form-lbl">رابط الخدمة<span class="danger">*</span></label>
          <input type="text" class="form-control" formControlName="requestLink" maxlength="256" id="requestLink" [ngClass]="{
              invalid:
                (isFormSubmitted || updateServiceForm.get('requestLink').touched) &&
                updateServiceForm.get('requestLink').errors?.required
            }" />
          <small *ngIf="(isFormSubmitted || updateServiceForm.get('requestLink').touched) && updateServiceForm.get('requestLink').errors?.required" class="danger">هذاالحقل مطلوب</small>
        </div>
        <div class="form-group col-md-6">
          <label for="workDays" class="form-lbl">مدة انجاز الخدمة</label>
          <input type="text" class="form-control" formControlName="workDays" id="workDays" />
        </div>
        <div class="form-group col-md-6">
          <label for="cost" class="form-lbl">تكلفة الخدمة</label>
          <input type="text" class="form-control" formControlName="cost" id="cost" />
        </div>
        <div class="form-group col-md-6">
          <label for="" class="form-lbl">تحميل الصورة<span class="danger">*</span></label>
          <p-fileUpload #uploader chooseLabel="تحميل الصورة" [auto]="true" [customUpload]="isCustomUpload" (uploadHandler)="onUpload($event)" (onRemove)="onRemove($event)" [multiple]="isMultiple" mode="advanced" [accept]="acceptType" [maxFileSize]="fileSize">
          </p-fileUpload>
          <span class="danger">{{ 'global:fileSize' | translate }} ({{ fileSize/1024/1024 | number }}) {{ 'global:mega' | translate }}</span><br />
          <span class="danger">{{ 'global:fileExtentions' | translate }} ({{ acceptType }})</span>
          <small *ngIf="(isFormSubmitted || updateServiceForm.get('image').touched) && updateServiceForm.get('image').errors?.required" class="danger">هذاالحقل مطلوب</small>
        </div>
        <div class="form-group col-6">
          <label class="container-check">
            فعال
            <input type="checkbox" formControlName="isActive" id="isActive" />
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="form-group col-6" *ngIf="updateServiceDto?.imageName">
          <img [src]="['/assets/images/uploads/services/'+updateServiceDto?.imageName]" [alt]="updateServiceDto?.nameEn" style="width: 100%; height: 200px;" />
        </div>
        <div class="form-group col-6">
          <label class="container-check">
            خدمة خارجية
            <input type="checkbox" formControlName="isExternal" id="isExternal" />
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-save">التالي</button>
    <a [routerLink]="['/admin/data-management/service-list']" class="btn btn-cancel">رجوع</a>
  </div>
</form>
