<div class="ser-bg">
  <div class="ser-bread">
    <nav class="breadcrumb m-0 bg-transparent">
      <div class="container d-flex align-items-center">
        <a class="breadcrumb-item fs-16" [routerLink]="['/']"><i class="las la-home"></i>الرئيسية</a>
        <span class="breadcrumb-item fs-16 active">اتفاقية مستوى الخدمة</span>
      </div>
    </nav>
  </div>
</div>

<div class="container">
  <div class="row my-5">
    <div class="col-12">
      <div class="artical-content-wrapper">
        <h6 class="artical-title fa-22">
          تؤكد إمارة منطقة الرياض حرصها لتحقيق رضى العملاء وذلك بإتاحة خدمات البوابة الخارجية للإمارة والخدمات
          الإلكترونية في جميع الأوقات .
        </h6>

        <p class="artical-text fa-18 mb-4">
          ونقدم هنا قائمة بخدمات البوابة الخارجية والخدمات الإلكترونية التي حققت الالتزام بهذه المعايير إلى جانب الزمن
          الأقصى لتقديم الخدمة ، علماً بأن هذا الزمن لا يشمل استكمال النواقص في حال لم يقدم العميل كافة المعلومات
          المطلوبة، كما لا يشمل الزمن المستغرق في معالجة المعاملات من قبل طرف ثالث كالجهات الحكومية الأخرى في حال تطلبت
          طبيعة المعاملات ذلك. كما يجب على العملاء الالتزام بشروط ومسوغات كل خدمة كما هو موضح في دليل الخدمات
          الإلكترونية في الإمارة. وسيتم إضافة كافة الخدمات الإلكترونية تباعاً إلى هذه القائمة.
        </p>

        <div>
          <h4 class="artical-head">
            ‌المساعدة والدعم
          </h4>
          <p class="artical-text">
            تشتمل البوابة على قسم لمساعدة ودعم جمهور المستفيدين، ويوفر هذا القسم كل ما يحتاجه زائر بوابة إمارة منطقة
            الرياض من مساعدة مع مراعاة أن يناسب أكبر عدد ممكن من الزوار، ولهذا تم توفير محتوى مقروء ، بالإضافة إلى
            معلومات تفصيلية وروابط إلى بعض أشكال المساعدة مثل: كيف استطيع أن ، نموذج اتصل بنا، سهولة الاستخدام، النسخة
            الكفية، تطبيقات الهواتف الذكية ... وغيرها، والروابط التالية توضح أمثلة لبعض وسائل المساعدة والدعم على
            البوابة:
          </p>
        </div>

        <div class="mb-4">
          <h4 class="artical-head">
            الخصوصية وسرية المعلومات
          </h4>
          <p class="artical-text">
            تضع بوابة إمارة منطقة الرياض سرية معلومات مستخدميها وزوارها على رأس قائمة الأولويات، وتبذل إدارة البوابة كل
            جهودها لتقديم خدمات ذات جودة عالية لكل المستفيدين من خلال وثيقة الخصوصية وسرية المعلومات.
          </p>
        </div>

        <div class="mb-4">
          <h4 class="artical-head">
            ‌توفير آليات للتواصل والمشاركة
          </h4>
          <p class="artical-text">
            تلتزم إدارة البوابة بالتفاعل والاستجابة لطلبات الاستفسارات الواردة إليها من خلال صفحة اتصل بنا.
          </p>
        </div>

        <div class="mb-4">
          <h4 class="artical-head">
            معايير الخدمة الإلكترونية
          </h4>
          <ol class="artical-list me-3 mt-4">
            <li class="artical-list-item">
              الزمن المستغرق للصفحة الرئيسية وكافة الصفحات الأخرى لجاهزية الاستخدام لا يتعدى 3 ثوانٍ كحد أقصى
            </li>
            <li class="artical-list-item">
              الزمن المستغرق للصفحة الرئيسية في البوابة لجاهزية استخدامها يتراوح في المتوسط بين 2 إلى 4 ثوانٍ
            </li>
            <li class="artical-list-item">
              نسبة الجاهزية 99.95%
            </li>
            <li class="artical-list-item">
              الأعطال التي قد ترد بالسنة 4.41 ساعة
            </li>
            <li class="artical-list-item">
              الأعطال التي قد ترد بالشهر 22.05 دقيقة
            </li>
          </ol>
        </div>

        <div class="mb-4">
          <h4 class="artical-head">
            مستويات تقديم الخدمات الإلكترونية
          </h4>
        </div>

        <div class="mb-4">
          <h4 class="artical-head">
            الخدمات الإلكترونية التفاعلية
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
