<div class="d-lg-flex justify-content-between align-items-center bread-container">
  <nav class="breadcrumb m-0 p-0 bg-transparent">
    <a class="breadcrumb-item fs-16" routerLink="/admin/home"><i class="las la-home fs-20"></i>الرئيسية</a>
    <a class="breadcrumb-item fs-16" [routerLink]="['/admin/home/user-list']">المستخدمون</a>
    <span class="breadcrumb-item fs-16 active">إضافة مستخدم جديد</span>
  </nav>
</div>

<form [formGroup]="createUserForm" (ngSubmit)="onSubmit()">
  <div class="form-card">
    <div class="form-header">
      <h5>إضافة مستخدم جديد</h5>
    </div>
    <div class="form-content">
      <div class="row mx-0">
        <div class="form-group col-md-6">
          <label for="nationalId" class="form-lbl">رقم الهوية<span class="danger">*</span></label>
          <input type="text" class="form-control" autocomplete="off" formControlName="nationalId" id="nationalId" [ngClass]="{
              invalid: (isFormSubmitted || createUserForm.get('nationalId').touched) && createUserForm.get('nationalId').errors?.required}" />
          <small *ngIf="(isFormSubmitted || createUserForm.get('nationalId').touched) && createUserForm.get('nationalId').errors?.required" class="danger">هذاالحقل مطلوب</small>
        </div>
        <div class="form-group col-md-6">
          <button type="button" class="btn btn-primary" (click)="checkUser()">تحقق</button>
        </div>
      </div>
    </div>
  </div>
  <div class="form-card" *ngIf="canAdd">
    <div class="form-header">
      <h5>بيانات المستخدم</h5>
    </div>
    <div class="form-content">
      <div class="row mx-0">
        <div class="info-col col-md-4 col-12">
          <span class="form-lbl lbl-33">الاسم</span>
          <span class="form-val">{{ userDataDto?.nameAr }}</span>
        </div>
        <div class="info-col col-md-4 col-12">
          <span class="form-lbl lbl-33">رقم الهوية</span>
          <span class="form-val">{{ userDataDto?.userName }}</span>
        </div>

        <div class="info-col col-md-4 col-12">
          <span class="form-lbl lbl-33">الجنس</span>
          <span class="form-val">{{ userDataDto?.genderName }}</span>
        </div>
        <div class="info-col col-md-4 col-12">
          <span class="form-lbl lbl-33">تاريخ الميلاد</span>
          <span class="form-val">{{ userDataDto?.birthDate }}</span>
        </div>
        <div class="info-col col-md-4 col-12">
          <span class="form-lbl lbl-33">رقم الجوال</span>
          <span class="form-val">{{ userDataDto?.phoneNumber }}</span>
        </div>

        <div class="info-col col-md-4 col-12">
          <span class="form-lbl lbl-33">الجنسية</span>
          <span class="form-val">{{ userDataDto?.nationalityName }}</span>
        </div>
        <div class="info-col col-md-4 col-12">
          <span class="form-lbl lbl-33">المحافظة</span>
          <span class="form-val">{{ userDataDto?.governorateName }}</span>
        </div>
        <div class="info-col col-md-4 col-12">
          <span class="form-lbl lbl-33">البريد الالكتروني</span>
          <span class="form-val">{{ userDataDto?.email }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-save">حفظ</button>
    <a [routerLink]="['/admin/home/user-list']" class="btn btn-cancel">رجوع</a>
  </div>
</form>
