<!-- BEGIN: SIDE-MENU -->
<div class="sidebar h-100" id="sidebar">
  <div class="pb-4">
    <ul class="list-unstyled px-0 pt-3 m-0">
      <li class="position-relative">
        <a routerLink="/admin/" class="menu-item menu-link cursor-pointer">
          <i class="menu-icon las la-chalkboard"></i>
          <span class="nav-label fs-14">الرئيسية</span>
        </a>
      </li>
      <!-- <div class="accordion" id="accordionExample"> -->
      <li class="accordion-item">
        <h2 class="accordion-header" id="headingNews">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNews" aria-expanded="true" aria-controls="collapseNews">
            <i class="menu-icon las la-ad"></i>
            <span class="nav-label">الأخبار</span>
          </button>
        </h2>
        <div id="collapseNews" class="accordion-collapse collapse" aria-labelledby="headingNews" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <ul class="list-styled">
              <li class="position-relative">
                <a class="menu-item menu-link cursor-pointer" routerLink="/admin/data-management/latest-news-list">
                  <span class="nav-label fs-14 px-1">اخر الأخبار</span>
                </a>
              </li>
              <li class="position-relative">
                <a class="menu-item menu-link cursor-pointer" routerLink="/admin/data-management/emirates-news-list">
                  <span class="nav-label fs-14 px-1">اخبار المحافظات</span>
                </a>
              </li>
              <li class="position-relative">
                <a class="menu-item menu-link cursor-pointer" routerLink="/admin/data-management/reports-list">
                  <span class="nav-label fs-14 px-1">التقارير الإعلانية</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="accordion-item">
        <h2 class="accordion-header" id="headingSevices">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSevices" aria-expanded="true" aria-controls="collapseSevices">
            <i class="menu-icon las la-ad"></i>
            <span class="nav-label">الخدمات</span>
          </button>
        </h2>
        <div id="collapseSevices" class="accordion-collapse collapse" aria-labelledby="headingSevices" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <ul>
              <li class="position-relative">
                <a class="menu-item menu-link cursor-pointer" routerLink="/admin/data-management/service-list">
                  <span class="nav-label fs-14 px-1">الخدمات</span>
                </a>
              </li>
              <li class="position-relative">
                <a class="menu-item menu-link cursor-pointer" routerLink="/admin/data-management/request-type-list">
                  <span class="nav-label fs-14 px-1">أنواع الخدمات</span>
                </a>
              </li>
              <li class="position-relative">
                <a class="menu-item menu-link cursor-pointer" routerLink="/admin/data-management/request-attachment-type-list">
                  <span class="nav-label fs-14 px-1">مرفقات الخدمات</span>
                </a>
              </li>
              <li class="position-relative">
                <a class="menu-item menu-link cursor-pointer" routerLink="/admin/data-management/service-stage-list">
                  <span class="nav-label fs-14 px-1">مراحل الخدمات</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="accordion-item">
        <h2 class="accordion-header" id="headingSettings">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSettings" aria-expanded="true" aria-controls="collapseSettings">
            <i class="menu-icon las la-ad"></i>
            <span class="nav-label">الاعدادات</span>
          </button>
        </h2>
        <div id="collapseSettings" class="accordion-collapse collapse" aria-labelledby="headingSettings" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <ul>
              <li class="position-relative">
                <a class="menu-item menu-link cursor-pointer" routerLink="/admin/data-management/case-type-list">
                  <span class="nav-label fs-14 px-1">أنواع القضايا</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="position-relative">
        <a class="menu-item menu-link cursor-pointer" routerLink="/admin/data-management/poster-list">
          <i class="menu-icon las la-ad"></i>
          <span class="nav-label fs-14 px-1">الإعلانات</span>
        </a>
      </li>

      <li class="position-relative">
        <a class="menu-item menu-link cursor-pointer" routerLink="/admin/eservice-admin/inbox">
          <i class="menu-icon las la-ad"></i>
          <span class="nav-label fs-14 px-1">البريد الوارد</span>
        </a>
      </li>
      <li class="position-relative">
        <a class="menu-item menu-link cursor-pointer" routerLink="/admin/eservice-admin/inbox-shamel">
          <i class="menu-icon las la-ad"></i>
          <span class="nav-label fs-14 px-1">البريد الوارد لنطام شامل</span>
        </a>
      </li>
    </ul>
  </div>
</div>
