<!-- breadcrumb -->
<div class="ser-bg">
  <div class="ser-bread">
    <nav class="breadcrumb m-0 bg-transparent">
      <div class="container d-flex align-items-center">
        <a class="breadcrumb-item fs-16" [routerLink]="['/']"><i class="las la-home"></i>الرئيسية</a>
        <span class="breadcrumb-item fs-16 active">الهيكل التنظيمى</span>
      </div>
    </nav>
  </div>
</div>

<div class="container">
  <div class="row my-5 py-md-5">
    <div class="col-12">
        <img src="assets/images/organization-chart-banner.jpeg" class="img-fluid rounded-5" alt="banner" />
    </div>
  </div>
</div>