<!-- breadcrumb -->
<div class="ser-bg">
  <div class="ser-bread">
    <nav class="breadcrumb m-0 bg-transparent">
      <a class="breadcrumb-item" [routerLink]="['/']"><i class="las la-home"></i>الرئيسية</a>
      <span class="breadcrumb-item fs-16 active">أخبار الإمارة</span>
    </nav>
  </div>
</div>

<div class="container">
  <div class="row my-5">
    <div class="col-lg-4 col-md-6 mb-4">
      <a class="card-basic" routerLink="/news/1">
        <div class="card-basic-banner">
          <img src="https://via.placeholder.com/600x300" class="img-fluid" alt="banner" />
        </div>

        <div class="card-basic-body">
          <h4>العنوان الرئيسى</h4>
          <p>تتكون الريبوسومات من وحدتي بروتينات، لا تجتمع مع بعضها اِلا في حالة تكوين البروتين.اِحدى هذه الوحدات أكبر
            من الأخرى. يعتبر الريبوسوم أنه المصنع الذي يحول المعلومات الوراثية المشفرة إلى تسلسل ببتيدي من أحماض أمينية.
            يمكن للريبوسومات أن تسبح في الخلية بحرية كما في بدائيات النوى أمّا في حقيقيات النوى فقد توجد حرة في الهيولى
            أو مرتبطة إلى الوجه الهيولي لأغشية الشبكة الهيولية الداخلية (الخشنة تحديداً ) أو مرتبطة إلى الغلاف النووي.

            تقوم الريبوسومات المبعثرة في الهيولي باِنتاج البروتينات الخاصة بالخلية.أما الرايبوسومات التي تكون مرتبطة
            بالشبكة الاِندوبلازمية والغلاف النووي فتنتج البروتينات الخاصة بالغشاء الخلوي أو تلك التي قد لاتخص الخلية
            نفسها مثل الهرمونات.</p>
        </div>
      </a>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
      <a class="card-basic" routerLink="/news/1">
        <div class="card-basic-banner">
          <img src="https://via.placeholder.com/600x600" class="img-fluid" alt="banner" />
        </div>

        <div class="card-basic-body">
          <h4>العنوان الرئيسى</h4>
          <p>تتكون الريبوسومات من وحدتي بروتينات، لا تجتمع مع بعضها اِلا في حالة تكوين البروتين.اِحدى هذه الوحدات أكبر
            من الأخرى. يعتبر الريبوسوم أنه المصنع الذي يحول المعلومات الوراثية المشفرة إلى تسلسل ببتيدي من أحماض أمينية.
            يمكن للريبوسومات أن تسبح في الخلية بحرية كما في بدائيات النوى أمّا في حقيقيات النوى فقد توجد حرة في الهيولى
            أو مرتبطة إلى الوجه الهيولي لأغشية الشبكة الهيولية الداخلية (الخشنة تحديداً ) أو مرتبطة إلى الغلاف النووي.

            تقوم الريبوسومات المبعثرة في الهيولي باِنتاج البروتينات الخاصة بالخلية.أما الرايبوسومات التي تكون مرتبطة
            بالشبكة الاِندوبلازمية والغلاف النووي فتنتج البروتينات الخاصة بالغشاء الخلوي أو تلك التي قد لاتخص الخلية
            نفسها مثل الهرمونات.</p>
        </div>
      </a>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
      <a class="card-basic" routerLink="/news/1">
        <div class="card-basic-banner">
          <img src="https://via.placeholder.com/1024x400" class="img-fluid" alt="banner" />
        </div>

        <div class="card-basic-body">
          <h4>ريبوسومات الخلايا البدائية: حيث تكون أصغر حجما من الريبوسومات في الخلايا حقيقية النواة </h4>
          <p>اكتشفت الريبوسومات في منتصف الخمسينات من قبل جورج بالاد بوساطة المجهر الإلكتروني كجسيمات كثيفة أو حبيبات.
            ونال على هذا الاكتشاف جائزة نوبل.</p>
        </div>
      </a>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
      <a class="card-basic" routerLink="/news/1">
        <div class="card-basic-banner">
          <img src="https://via.placeholder.com/400x400" class="img-fluid" alt="banner" />
        </div>

        <div class="card-basic-body">
          <h4>ريبوسومات الخلايا البدائية: حيث تكون أصغر حجما من الريبوسومات في الخلايا حقيقية النواة </h4>
          <p>اكتشفت الريبوسومات في منتصف الخمسينات من قبل جورج بالاد بوساطة المجهر الإلكتروني كجسيمات كثيفة أو حبيبات.
            ونال على هذا الاكتشاف جائزة نوبل.</p>
        </div>
      </a>
    </div>
  </div>
</div>