<div class="ser-bg">
  <div class="ser-bread">
    <nav class="breadcrumb m-0 bg-transparent">
      <div class="container d-flex align-items-center">
        <a class="breadcrumb-item fs-16" [routerLink]="['/']"><i class="las la-home"></i>الرئيسية</a>
        <span class="breadcrumb-item fs-16 active">تطبيقات الجوال</span>
      </div>
    </nav>
  </div>
</div>

<div class="container">
  <div class="row my-5">
    <div class="col-12">
      <div class="artical-content-wrapper">
        <h4 class="artical-head">تطبيقات الجوال</h4>
        <table class="table w-50">
          <tbody>
            <tr>
              <td class="align-middle fa-18">تطبيق إمارة منطقة الرياض</td>
              <td>
                <div class="d-flex align-items-center justify-content-center">
                  <a class="d-flex ms-4" href="https://itunes.apple.com/us/app/amart-mntqt-alryad/id977463683?mt=8" target="_blank">
                    <i class="fa-brands fa-apple fs-1 text-primary-alt-3"></i>
                  </a>
                  <a class="d-flex" href="https://play.google.com/store/apps/details?id=com.riyadh.emara" target="_blank">
                    <i class="fa-brands fa-android fs-1 text-primary-2"></i>
                  </a>
                </div>
              </td>
            </tr>
            <tr>
              <td class="align-middle fa-18">تطبيق المجلس الإلكتروني</td>
              <td>
                <div class="d-flex align-items-center justify-content-center">
                  <a class="d-flex ms-4" href="https://itunes.apple.com/us/app/almjls-alalktrwny/id1049439466?mt=8" target="_blank">
                    <i class="fa-brands fa-apple fs-1 text-primary-alt-3"></i>
                  </a>
                  <a class="d-flex" href="https://play.google.com/store/apps/details?id=com.grm.majlis" target="_blank">
                    <i class="fa-brands fa-android fs-1 text-primary-2"></i>
                  </a>
                </div>
              </td>
            </tr>
            <tr>
              <td class="align-middle fa-18">تطبيق وطّن</td>
              <td>
                <div class="d-flex align-items-center justify-content-center">
                  <a class="d-flex ms-4" href="https://itunes.apple.com/us/app/وطن/id1165810059?mt=8" target="_blank">
                    <i class="fa-brands fa-apple fs-1 text-primary-alt-3"></i>
                  </a>
                  <a class="d-flex" href="https://play.google.com/store/apps/details?id=com.dotkamsoft.watten" target="_blank">
                    <i class="fa-brands fa-android fs-1 text-primary-2"></i>
                  </a>
                </div>
              </td>
            </tr>
            <tr>
              <td class="align-middle fa-18">تطبيق تعدين</td>
              <td>
                <div class="d-flex align-items-center justify-content-center">
                  <a class="d-flex ms-4" href="https://apps.apple.com/us/app/تعدين/id1465803815" target="_blank">
                    <i class="fa-brands fa-apple fs-1 text-primary-alt-3"></i>
                  </a>
                  <a class="d-flex" href="https://play.google.com/store/apps/details?id=com.rp.ta3deen" target="_blank">
                    <i class="fa-brands fa-android fs-1 text-primary-2"></i>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
