<div class="d-lg-flex justify-content-between align-items-center bread-container">
  <nav class="breadcrumb m-0 bg-transparent">
    <a class="breadcrumb-item fs-16" [routerLink]="['/']"><i class="las la-home fs-20"></i>الرئيسية</a>
    <a class="breadcrumb-item fs-16" [routerLink]="['/eservice/services-list']">قائمة الخدمات</a>
    <span class="breadcrumb-item fs-16 active">انشاء طلب جديد</span>
  </nav>
</div>

<div class="p-5 row mx-0">
  <div class="col-md-10 mx-auto">

    <p-steps [model]="wizardItems" [(activeIndex)]="activeIndex"></p-steps>

    <div class="mt-4">
      <form [formGroup]="landsInfringementForm" (ngSubmit)="onSubmit()">
        <div class="form-card">
          <div class="form-header">
            <h5>خدمة التعدي على الأراضي الحكومية</h5>
            <div class="form-content">
              <div class="row mx-0">
                <div class="form-group col-md-6" *ngIf="requestTypes?.length > 0">
                  <label for="requestTypeId" class="form-lbl">نوع التعدي<span class="danger">*</span></label>
                  <select class="form-control form-select" formControlName="requestTypeId" [ngClass]="{
                    invalid:
                    (isFormSubmitted || landsInfringementForm.get('requestTypeId').touched) &&
                    landsInfringementForm.get('requestTypeId').errors?.required}">
                    <option [ngValue]="null">-- اختر نوع التعدي --</option>
                    <option *ngFor="let requestType of requestTypes" [ngValue]="requestType.id">{{ requestType.name }}</option>
                  </select>
                  <small *ngIf="(isFormSubmitted || landsInfringementForm.get('requestTypeId').touched) && landsInfringementForm.get('requestTypeId').errors?.required" class="danger">هذاالحقل مطلوب</small>
                </div>
                <div class="form-group col-md-6">
                  <label for="governorateId" class="form-lbl">المحافظة<span class="danger">*</span></label>
                  <select class="form-control form-select" formControlName="governorateId" [ngClass]="{
                    invalid:
                    (isFormSubmitted || landsInfringementForm.get('governorateId').touched) &&
                    landsInfringementForm.get('governorateId').errors?.required}">
                    <option [ngValue]="null">-- اختر المحافظة --</option>
                    <option *ngFor="let governorate of governorates" [ngValue]="governorate.id">{{ governorate.name }}</option>
                  </select>
                  <small *ngIf="(isFormSubmitted || landsInfringementForm.get('governorateId').touched) && landsInfringementForm.get('governorateId').errors?.required" class="danger">هذاالحقل مطلوب</small>
                </div>
                <div class="form-group col-md-6">
                  <label for="instrumentNumber" class="form-lbl">رقم الصك<span class="danger">*</span></label>
                  <input type="text" class="form-control" autocomplete="off" formControlName="instrumentNumber" id="instrumentNumber" [ngClass]="{
                    invalid:
                    (isFormSubmitted || landsInfringementForm.get('instrumentNumber').touched) &&
                    landsInfringementForm.get('instrumentNumber').errors?.required}" />
                  <small *ngIf="(isFormSubmitted || landsInfringementForm.get('instrumentNumber').touched) && landsInfringementForm.get('instrumentNumber').errors?.required" class="danger">هذاالحقل مطلوب</small>
                </div>
                <div class="form-group col-md-6">
                  <label for="estimatedSpace" class="form-lbl">المساحة التقديرية</label>
                  <input type="text" class="form-control" autocomplete="off" formControlName="estimatedSpace" id="estimatedSpace" />
                </div>
                <div class="form-group col-md-12">
                  <label for="infringerDescription" class="form-lbl">وصف التعدي<span class="danger">*</span></label>
                  <textarea type="text" class="form-control" autocomplete="off" formControlName="infringerDescription" id="infringerDescription" [ngClass]="{
                    invalid:
                    (isFormSubmitted || landsInfringementForm.get('infringerDescription').touched) &&
                    landsInfringementForm.get('infringerDescription').errors?.required}">
                  </textarea>
                  <small *ngIf="(isFormSubmitted || landsInfringementForm.get('infringerDescription').touched) && landsInfringementForm.get('infringerDescription').errors?.required" class="danger">هذاالحقل مطلوب</small>
                </div>
                <div class="form-group col-md-12">
                  <label for="address" class="form-lbl">العنوان<span class="danger">*</span></label>
                  <textarea type="text" class="form-control" autocomplete="off" formControlName="address" id="address" [ngClass]="{
                    invalid:
                    (isFormSubmitted || landsInfringementForm.get('address').touched) &&
                    landsInfringementForm.get('address').errors?.required}">
                  </textarea>
                  <small *ngIf="(isFormSubmitted || landsInfringementForm.get('address').touched) && landsInfringementForm.get('address').errors?.required" class="danger">هذاالحقل مطلوب</small>
                </div>
                <div class="form-group col-md-6">
                  <label for="longitude" class="form-lbl">خط الطول<span class="danger">*</span></label>
                  <input type="text" class="form-control" autocomplete="off" formControlName="longitude" id="longitude" [ngClass]="{
                    invalid:
                    (isFormSubmitted || landsInfringementForm.get('longitude').touched) &&
                    landsInfringementForm.get('longitude').errors?.required}" />
                  <small *ngIf="(isFormSubmitted || landsInfringementForm.get('longitude').touched) && landsInfringementForm.get('longitude').errors?.required" class="danger">هذاالحقل مطلوب</small>
                </div>
                <div class="form-group col-md-6">
                  <label for="latitude" class="form-lbl">خط العرض<span class="danger">*</span></label>
                  <input type="text" class="form-control" autocomplete="off" formControlName="latitude" id="latitude" [ngClass]="{
                    invalid:
                    (isFormSubmitted || landsInfringementForm.get('latitude').touched) &&
                    landsInfringementForm.get('latitude').errors?.required}" />
                  <small *ngIf="(isFormSubmitted || landsInfringementForm.get('latitude').touched) && landsInfringementForm.get('latitude').errors?.required" class="danger">هذاالحقل مطلوب</small>
                </div>
                <div class="form-group col-md-6">
                  <label for="infringerName" class="form-lbl">اسم المتعدي</label>
                  <input type="text" class="form-control" autocomplete="off" formControlName="infringerName" id="infringerName" />
                </div>
                <div class="form-group col-md-12">
                  <label for="notes" class="form-lbl">تفاصيل اضافية<span class="danger">*</span></label>
                  <textarea type="text" class="form-control" autocomplete="off" formControlName="notes" id="notes" [ngClass]="{
                    invalid:
                    (isFormSubmitted || landsInfringementForm.get('notes').touched) &&
                    landsInfringementForm.get('notes').errors?.required}">
                  </textarea>
                  <small *ngIf="(isFormSubmitted || landsInfringementForm.get('notes').touched) && landsInfringementForm.get('notes').errors?.required" class="danger">هذاالحقل مطلوب</small>
                </div>


              </div>
            </div>
          </div>
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-save">التالي</button>
          <a [routerLink]="['/eservice/my-requests']" class="btn btn-cancel">إلغاء</a>
        </div>
      </form>
  </div>

  </div>
</div>
