<!-- breadcrumb -->
<div class="ser-bg">
  <div class="ser-bread">
    <nav class="breadcrumb m-0 bg-transparent">
      <a class="breadcrumb-item fs-16" [routerLink]="['/']"><i class="las la-home"></i>الرئيسية</a>
      <a class="breadcrumb-item fs-16" [routerLink]="['/services-guide']">دليل إجراءات الخدمات</a>
      <span class="breadcrumb-item fs-16 active">التفاصيل</span>
    </nav>
  </div>
</div>

<div class="container">
  <div class="row my-5">
    <div class="artical-content-wrapper">
      <div class="d-flex justify-content-center mb-5">
        <img [src]="sanitizer.bypassSecurityTrustResourceUrl(service.image?.base64File)" class="img-fluid rounded-3" alt="banner" />
      </div>

      <h4 class="artical-head">
        {{ service.nameAr }}
      </h4>
      <!--<p class="artical-text me-3">
        {{ service.descriptionAr }}
      </p>-->
    </div>
  </div>
  <div class="py-4">
    <div class="term-row" *ngFor="let serviceCondition of getServiceConditionListDto;let i=index;">
      <span class="term-num">{{ i+1 }}</span>
      <span class="term-desc">{{ serviceCondition.condition }}</span>
    </div>
  </div>
</div>
