<div class="d-lg-flex justify-content-between align-items-center bread-container">
  <nav class="breadcrumb m-0 p-0 bg-transparent">
    <a class="breadcrumb-item fs-16" routerLink="/admin/home"><i class="las la-home fs-20"></i>الرئيسية</a>
    <a class="breadcrumb-item fs-16" [routerLink]="['/admin/data-management/service-list']">الخدمات</a>
    <span class="breadcrumb-item fs-16 active">استكمال بيانات الخدمة</span>
  </nav>
</div>

<div class="form-card">
  <div class="form-header" style="border-bottom: 0px !important;">
    <h5 class="mb-5">استكمال بيانات الخدمة</h5>

    <p-steps [model]="wizardItems" [(activeIndex)]="activeIndex"></p-steps>
  </div>
  <form [formGroup]="serviceConditionForm" (ngSubmit)="onSubmit()">
    <div class="form-content">
      <div class="row mx-0">
        <div class="form-group col-md-12">
          <label for="condition" class="form-lbl">تفاصيل الشرط<span class="danger">*</span></label>
          <textarea rows="4" class="form-control" formControlName="condition" maxlength="4000" id="condition" [ngClass]="{
                invalid: (isFormSubmitted || serviceConditionForm.get('condition').touched) &&
                serviceConditionForm.get('condition').errors?.required}"></textarea>
          <small *ngIf="(isFormSubmitted || serviceConditionForm.get('condition').touched) && serviceConditionForm.get('condition').errors?.required" class="danger">هذاالحقل مطلوب</small>
        </div>
        <div class="form-group col-md-6">
          <label for="order" class="form-lbl">الترتيب<span class="danger">*</span></label>
          <input type="text" class="form-control" autocomplete="off" formControlName="order" id="order" [ngClass]="{
                invalid: (isFormSubmitted || serviceConditionForm.get('order').touched) &&
                serviceConditionForm.get('order').errors?.required}" />
          <small *ngIf="(isFormSubmitted || serviceConditionForm.get('order').touched) && serviceConditionForm.get('order').errors?.required" class="danger">هذاالحقل مطلوب</small>
        </div>
        <div class="form-group col-md-6">
          <div class="form-actions" *ngIf="!isUpdate">
            <button type="submit" class="btn btn-primary">اضافة</button>
          </div>
          <div class="form-actions" *ngIf="isUpdate">
            <button type="submit" class="btn btn-save">تعديل</button>
            <button type="button" class="btn btn-cancel" (click)="clear()">الغاء</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="row mt-3 mx-0">
    <p-table #serviceConditions [value]="getServiceConditionListDto" dataKey="id"
             [autoLayout]="true" [responsive]="true" [scrollable]="true" class="w-100">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>م</th>
          <th>تفاصيل الشرط</th>
          <th>الترتيب</th>
          <th>الإجراءات</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-i="rowIndex" let-serviceCondition>
        <tr>
          <td> {{i+1}} </td>
          <td> {{serviceCondition.condition}} </td>
          <td> {{serviceCondition.order}} </td>
          <td>
            <a class="btn btn-primary mx-1 px-1 py-0" title="تعديل" (click)="fillData(serviceCondition.id)">
              <i class="fa fa-edit"></i>
            </a>
            <a class="btn btn-danger mx-1 px-1 py-0" title="حذف" (click)="delete(serviceCondition.id)" >
              <i class="la-trash las"></i>
            </a>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td colspan="7" class="empty-grid-table">لا يوجد بيانات</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</div>
<div class="form-actions">
  <a [routerLink]="['/admin/data-management/service-audience/', id]" class="btn my-1 ms-auto me-0 btn-outline-primary-alt">السابق</a>

  <a [routerLink]="['/admin/data-management/service-list']" class="btn my-1 btn-save">حفظ</a>
  <a [routerLink]="['/admin/data-management/service-list']" class="btn my-1 btn-cancel">رجوع</a>
</div>
