<!-- Poster, Flyer -->
<div class="owl__carousel">

  <owl-carousel-o [options]="sliderOptions" class="owl-rtl">
    <ng-template carouselSlide>
      <img src="./assets/images/slider.png" alt="" class="w-100">
    </ng-template>
  </owl-carousel-o>

</div>

<!-- Services Section -->
<div class="row mx-0 section-padding e-services">
  <div class="col-md-12 my-5">
    <div class="section-title justify-content-center py-4">
      <h3 class="title mb-3">الخدمات الإلكترونية</h3>
    </div>

    <div class="serv-tabs">
      <ul class="nav nav-tabs mb-5" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
            <img src="./assets/images/icons/search.svg" alt="">
            الخدمات الأكثر إستخداماً
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
            <img src="./assets/images/icons/couple.svg" alt="">
            خدمات الزواج
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">
            <img src="./assets/images/icons/prisoner.svg" alt="">
            خدمات السجناء
          </button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="owl__carousel">
            <owl-carousel-o [options]="servicesOptions" class="owl-rtl">
              <!-- Repeatable Item -->
              <ng-template carouselSlide *ngFor="let service of services">
                <div class="card-item px-3" >
                  <h5 class="title mb-5 d-flex align-items-center">
                    <img src="./assets/images/icons/services/prisoner.svg" alt="prisoner" style="width:25px;">
                    <span class="mx-2">
                      {{service.nameAr}}
                    </span>
                  </h5>

                  <p class="brief-description mb-5">{{service.titleAr}}</p>

                  <p class="description"> {{service.descriptionAr}}</p>

                  <div class="service-link d-flex align-items-center">
                    <a [routerLink]="['/eservice/services/22']" class="px-3 "> شرح الخدمة</a>
                    <span class="arrow">
                      <img src="./assets/images/icons/services/green-arrow-left.svg" alt="green-arrow-left" style="width:14px;">
                    </span>
                  </div>
                </div>
              </ng-template>
            </owl-carousel-o>

          </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">2222</div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">333</div>
      </div>

    </div>

    <div class="py-5 d-flex justify-content-end">
      <a [routerLink]="['/eservice/services-list']" class="browse btn">
        تصفح جميع الخدمات
        <img src="./assets/images/icons/feather-arrow-left.svg" alt="" class="mx-2">
      </a>
    </div>

  </div>
</div>

<!-- E-Council -->
<div class="row mx-0 section-padding">
  <div class="col-md-12 my-5">
    <a [routerLink]="['']">
      <img src="./assets/images/e-council.svg" alt="" class="w-100">
    </a>
  </div>
</div>

<!-- News -->
<div class="row mx-0 section-padding mb-5 py-5">
  <div class="col-md-6 news">
    <div class="section-title">
      <h3 class="title">آخر الأخبار</h3>
      <div class="more">
        <a href="#">
          تصفح جميع الأخبار
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </a>
      </div>
    </div>

    <div class="owl__carousel">

      <owl-carousel-o [options]="newsOptions" class="owl-rtl">
        <!-- Repeatable Item -->
        <ng-template carouselSlide>
          <div class="owl-item">
            <div class="item" *ngFor="let news of latestNews">
              <div class="news-card">
              <img [src]="news?.image?.base64File" alt="" class="news-img">
              <img src="./assets/images/news-overlay.png" alt="" class="overlay">
              <div class="news-caption">
                <h6 class="h2">
                  {{ news?.titleAr }}
                </h6>
                <span class="date">
                  <img src="./assets/images/icons/date-white.svg" class="date-icon" alt="">
                  <span class="date-desc">{{ formatDate(news?.date) }}</span>
                </span>
              </div>
              </div>
            </div>
          </div>
        </ng-template>

      </owl-carousel-o>
    </div>
  </div>

  <!-- Navigation Links & Related Websites -->
  <div class="col-md-6">
    <!-- Navigation Links -->
    <!-- <div class="row mx-0">
      <div class="col-md-6 nav-card">
        <a routerLink="/e-council/dashboard">
          <img src="./assets/images/icons/electronic-council-icon.svg" alt="" class="d-block mx-auto">
          <div class="desc">
            <h6>المجلس الإلكتروني</h6>
            <span>تقديم شكوي أو مقترح أو متابعة طلب لسمو أمير منطقة الرياض</span>
          </div>
        </a>
      </div>
      <div class="col-md-6 nav-card">
        <a routerLink="/e-council/dashboard">
          <img src="./assets/images/icons/search-service.svg" alt="" class="d-block mx-auto">
          <div class="desc">
            <h6>استعلام عن خدمة أو معاملة</h6>
            <span>استعلام عن خدمة برقم المعاملة أو رقم الطلب</span>
          </div>
        </a>
      </div>
    </div> -->

    <div class="row mx-0">
      <div class="col-md-12 px-0">
        <img src="./assets/images/services-manual.svg" alt="" class="w-100">
      </div>
    </div>

    <!-- Related Websites -->
    <div class="related-web">
      <div class="section-title">
        <h3 class="title">منصات ذات صلة</h3>
      </div>
      <div class="rel-web">
        <a href="#"><img src="./assets/images/icons/gov.svg" alt="" class="rel-web-logos"></a>
        <a href="#"><img src="./assets/images/icons/absher.svg" alt="" class="rel-web-logos"></a>
        <a href="#"><img src="./assets/images/icons/najiz.svg" alt="" class="rel-web-logos"></a>
        <a href="#"><img src="./assets/images/icons/riyadh-amanat.svg" alt="" class="rel-web-logos"></a>
        <a href="#"><img src="./assets/images/icons/logoarbeta.svg" alt="" class="rel-web-logos" style="width: 100%;
          background: #fff;
          border: 1px solid #ececec;
          border-radius: 8px;
          padding: 5px;"></a>
      </div>
    </div>
  </div>
</div>

<!-- News & Reports -->
<div class="news-reports">
  <div class="row mx-0 my-5 section-padding">
    <!-- Gov News -->
    <div class="col-md-6 offset-md-1 gov-news">
      <div class="section-title">
        <h3 class="title">أخبار المحافظات</h3>
        <div class="more">
          <a href="#">
            تصفح جميع الأخبار
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
          </a>
        </div>
      </div>

      <!-- news cards -->
      <div class="owl__carousel">

        <owl-carousel-o [options]="govNewsOptions" class="owl-rtl">
          <!-- Repeatable Item -->
          <ng-template carouselSlide>
            <div class="item" *ngFor="let news of emiratesNews">
              <div class="card">
                <img [src]="news?.image?.base64File" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title h-2">{{ news?.titleAr }}</h5>
                  <p class="card-text">
                    <img src="./assets/images/icons/order-date.svg" alt="">
                    {{ formatDate(news?.date) }}
                  </p>
                </div>
              </div>
            </div>
          </ng-template>

        </owl-carousel-o>

      </div>

    </div>
    <!-- Advertising Reports -->
    <div class="col-md-5 advertise-report" style="height: fit-content;">
      <div class="section-title">
        <h3 class="title">تقارير إعلانية</h3>
      </div>
      <!-- cards -->
      <div class="owl__carousel">
        <owl-carousel-o [options]="advertiseReportOptions" class="owl-rtl">
          <!-- Repeatable Item -->
          <ng-template carouselSlide>
            <div class="item" *ngFor="let poster of posters">
              <div class="ad-card">
                <img [src]="poster.image.base64File" alt="" class="ad-card-img">
                <img src="./assets/images/add-overlay.png" alt="" class="overlay">
                <div class="ad-card-content">
                  <span class="desc">
                    {{poster.titleAr}}
                  </span>
                  <span class="ad-calendar">
                    <img src="./assets/images/icons/add-calendar.svg" alt="">
                    <span>{{ formatDate(poster?.date) }}</span>
                  </span>
                </div>
              </div>
            </div>
          </ng-template>
          <!-- Repeatable Item -->
          <ng-template carouselSlide>
            <div class="item">
              <div class="ad-card">
                <img src="./assets/images/add-report.png" alt="" class="ad-card-img">
                <img src="./assets/images/add-overlay.png" alt="" class="overlay">
                <div class="ad-card-content">
                  <span class="desc">
                    تدابير إضافية في مواجهة كورونا.. تعليق العمل 16 يومًا في الجهات الحكومية
                  </span>
                  <span class="ad-calendar">
                    <img src="./assets/images/icons/add-calendar.svg" alt="">
                    <span>17 شعبان 1443</span>
                  </span>
                </div>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>

      </div>
    </div>

  </div>
</div>

<!-- Important Numbers -->
<div class="row mx-0">
  <div class="col-md-12 mt-5 px-0">
    <img src="./assets/images/stats.svg" alt="" class="w-100">
  </div>
</div>
