<div class="form-card">
  <div class="form-header">
    <h5>البحث في الطلبات</h5>
  </div>
  <div class="form-content">
    <form [formGroup]="inboxSearchForm">
      <div class="row mx-0">
        <div class="form-group col-md-4">
          <label for="requestNumber" class="form-lbl">رقم الطلب</label>
          <input type="text" class="form-control" autocomplete="off" formControlName="requestNumber" id="requestNumber" />
        </div>
        <div class="form-group col-md-4">
          <label for="nationalId" class="form-lbl">رقم الهوية</label>
          <input type="text" class="form-control" autocomplete="off" formControlName="nationalId" id="nationalId" />
        </div>
        <div class="form-group col-md-4">
          <label for="nameAr" class="form-lbl">الخدمة</label>
          <select class="form-control form-select" formControlName="serviceId">
            <option [ngValue]="null">-- عرض الكل --</option>
            <option *ngFor="let service of services" [ngValue]="service.id">{{ service.name }}</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <hijri-gregorian-datepicker id="dateFrom" [placeHolder]="'سنة/شهر/يوم'"
                                      [isRequired]="false"
                                      [GregLabel]="'ميلادي'"
                                      [hijriLabel]="'هجري'"
                                      [selectedDateType]="selectedDateType"
                                      label="التاريخ من"
                                      #datePickerFrom>
          </hijri-gregorian-datepicker>
        </div>
        <div class="form-group col-md-4">
          <hijri-gregorian-datepicker id="dateTo" [placeHolder]="'سنة/شهر/يوم'"
                                      [isRequired]="false"
                                      [GregLabel]="'ميلادي'"
                                      [hijriLabel]="'هجري'"
                                      [selectedDateType]="selectedDateType"
                                      label="التاريخ الى"
                                      #datePickerTo>
          </hijri-gregorian-datepicker>
        </div>
      </div>

      <div class="form-actions mb-4">
        <button type="button" class="btn btn-save" (click)="search()">بحث</button>
        <button type="button" class="btn btn-secondary" (click)="search(true)">عرض الكل</button>
      </div>
    </form>
    <div class="row mx-0">
      <p-table #inbox [value]="inboxListDto" [paginator]="true" dataKey="id" [autoLayout]="true" [responsive]="true"
      [rows]="pagingMetaData?.pageSize ? pagingMetaData?.pageSize : 10 "
      [first]="pagingMetaData?.firstItemOnPage"  [lazy]="true" (onLazyLoad)="onTableLazyLoad($event)"
      [totalRecords]="pagingMetaData?.totalItemCount"  [scrollable]="true" class="w-100 ps-0">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th>م</th>
            <th>الخدمة</th>
            <th>رقم الطلب</th>
            <th>تاريخ الطلب</th>
            <th>حالة الطلب</th>
            <th>ملاحظات</th>
            <th>الإجراءات</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-i="rowIndex" let-inbox>
          <tr>
            <td> {{i}} </td>
            <td> {{inbox.serviceName}} </td>
            <td> {{inbox.requestNumber}} </td>
            <td> {{inbox.requestDate}} </td>
            <td> {{inbox.stageName}} </td>
            <td title="{{inbox.notes}}" *ngIf="inbox.notes"> {{inbox.notes.length > 20 ? inbox.notes.substring(0, 20) + ' ...' : inbox.notes}} </td>
            <td title="{{inbox.notes}}" *ngIf="!inbox.notes"></td>
            <td>
              <a class="btn btn-primary mx-1 p-2" title="بيانات الطلب" [routerLink]="[inbox.url, inbox.id] ">
                <i class="fa fa-eye"></i>
              </a>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td colspan="7" class="empty-grid-table">لا يوجد بيانات</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
